<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android='http://schemas.android.com/apk/res/android'
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.tkpd.test">

    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18" />

    <instrumentation
        android:name="com.tokopedia.tkpd.MyRunner"
        android:targetPackage="com.tokopedia.tkpd" />

    <application android:name="com.tokopedia.tkpd.MyCustomEspressoApplication">
        <activity
            android:name="com.tokopedia.navigation.presentation.activity.MainParentActivity2"
            android:exported="true"
            android:label="Tokopedia"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
    </application>
</manifest>
