<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0.0">

    <application
        android:debuggable="true"
        android:label="UpdateInactivePhone"
        tools:ignore="HardcodedDebugMode"
        tools:replace="android:debuggable,android:label">

        <meta-data
            android:name="firebase_performance_collection_deactivated"
            android:value="true" />

        <activity
            android:name="com.tokopedia.updateinactivephone.stub.features.accountlist.InactivePhoneAccountListActivityStub"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.tokopedia.updateinactivephone.stub.features.successpage.InactivePhoneSuccessPageActivityStub"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.tokopedia.updateinactivephone.stub.features.submitnewphone.InactivePhoneSubmitDataActivityStub"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.tokopedia.updateinactivephone.stub.features.inputoldphonenumber.InputOldPhoneNumberActivityStub"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>
</manifest>