<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tokopedia.tracking">

    <application>
        <activity
            android:name=".view.TrackingPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:label="@string/label_tracking_activity"/>
        <activity
            android:name=".view.SimpleWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"/>
    </application>

</manifest>
