<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.product.edit">

    <application>
        <activity
            android:name=".view.activity.ProductAddNameCategoryActivity"
            android:label=""
            android:theme="@style/Theme.White" />

        <activity
            android:name=".view.activity.ProductAddActivity"
            android:label="@string/label_product_add"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.ProductEditCatalogPickerActivity"
            android:label="@string/product_label_catalog"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".view.activity.ProductEditCategoryActivity"
            android:label=""
            android:theme="@style/Theme.White" />

        <activity
            android:name=".view.activity.ProductEditNameActivity"
            android:label="@string/product_label_product_name"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".view.activity.ProductEditPriceActivity"
            android:label="@string/product_label_product_price"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".view.activity.ProductEditDescriptionActivity"
            android:label="@string/product_label_description_product"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".view.activity.ProductEditStockActivity"
            android:label="@string/product_label_product_stock"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".view.activity.ProductEditWeightLogisticActivity"
            android:label="@string/product_label_logistic_product"
            android:theme="@style/Theme.White" />
        <activity
            android:name="com.tokopedia.product.edit.view.activity.ProductAddVideoActivity"
            android:label="@string/title_activity_video"
            android:theme="@style/Theme.White" />

        <activity
            android:name="com.tokopedia.product.edit.view.activity.ProductAddVideoRecommendationActivity"
            android:label="@string/title_activity_video_recommendation"
            android:theme="@style/Theme.White" />

        <activity
            android:name="com.tokopedia.product.edit.view.activity.ProductEditActivity"
            android:label="@string/title_activity_edit_product"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.product.edit.view.activity.ProductDraftAddActivity"
            android:label="@string/title_activity_add_product"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.product.edit.view.activity.ProductDraftEditActivity"
            android:label="@string/title_activity_edit_product"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.product.edit.view.activity.ProductDuplicateActivity"
            android:label="@string/title_activity_add_product"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ProductAddDescriptionPickerActivity"
            android:label="@string/product_label_product_description"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".view.activity.ProductAddDescriptionInfoActivity"
            android:label="@string/product_desc_guide"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait" />

    </application>

</manifest>