<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.navigation">

    <application>
        <activity
            android:name=".presentation.activity.InboxMainActivity"
            android:label="@string/inbox"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"/>
        <activity
            android:name=".presentation.activity.NotificationActivity"
            android:label="@string/notifications"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"/>
    </application>
</manifest>
