<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.saldodetails" >

    <application>
        <activity android:name=".view.activity.SaldoWebViewActivity"
            android:label="@string/saldo_webview_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"/>

    </application>
</manifest>

