<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.saldodetails">


    <application>
        <activity
            android:name="com.tokopedia.saldodetails.view.activity.SaldoDepositActivity"
            android:label="@string/saldo_detail_title_activity_people_deposit"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:path="@string/path_saldo_deposit"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.tokopedia.saldodetails.view.activity.SaldoWebViewActivity"
            android:label="@string/saldo_detail_title_activity_people_deposit"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.PopupTransparent"/>

        <activity
            android:name="com.tokopedia.saldodetails.view.activity.SaldoIntroActivity"
            android:label="@string/saldo_detail_title_header_saldo_intro"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.PopupTransparent">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:path="@string/path_saldo_intro"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>

        </activity>

        <activity android:name=".view.activity.SaldoHoldInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.PopupTransparent"/>
    </application>
</manifest>