<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.tokomart">

    <application>
        <activity
            android:name=".home.presentation.activity.TokoMartHomeActivity"
            android:exported="true"
            android:label="@string/title_tokomart"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokomart"
                    android:path="@string/path_tokomart_home"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".categorylist.presentation.activity.TokoMartCategoryListActivity"
            android:exported="true"
            android:label="@string/title_tokomart"
            android:screenOrientation="portrait"
            android:theme="@style/CategoryListTheme">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokomart"
                    android:pathPattern="@string/path_tokomart_category_list"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
    </application>
</manifest>