<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.cmhomewidget">

    <application>

        <!--todo delete cm home widget dummy things-->
        <activity
            android:name="com.tokopedia.cmhomewidget.presentation.activity.DummyTestCMHomeWidgetActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_dummy_cm_home_widget"
                    android:scheme="@string/tokopedia_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>