<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.product_bundle">

    <application>
        <activity
            android:name=".activity.ProductBundleActivity"
            android:label="@string/product_bundle_page_title"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_merchant"
                    android:path="@string/path_product_bundle"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>