<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0.0"
    package="com.tokopedia.carouselproductcard.test">

    <application
        android:label="Carousel Product Card Test"
        tools:replace="android:label">

        <activity
            android:name=".CarouselProductCardGridActivityTest"
            android:theme="@style/Theme.White"/>

        <activity
            android:name=".CarouselProductCardListActivityTest"
            android:theme="@style/Theme.White"/>

    </application>
</manifest>