<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.tokopedia.shop.score.sellerapp">

    <dist:module
        dist:onDemand="true"
        dist:title="@string/title_shop_score_sellerapp">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:debuggable="true"
        android:hasCode="false" />
</manifest>
