<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.tokopedia.topads.dashboard.sellerapp">

    <dist:module
        dist:onDemand="false"
        dist:title="@string/title_module_top_ads_dashboard">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application android:hasCode="false" />
</manifest>
