<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.contactus">

    <application android:label="@string/app_name">
        <activity
            android:name="com.tokopedia.tkpd.tkpdcontactus.home.view.ContactUsHomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:label="@string/contact_us_title_home"/>

        <activity android:name="com.tokopedia.tkpd.tkpdcontactus.home.view.BuyerPurchaseListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:label="@string/invoice_list_title"/>
        <activity android:name="com.tokopedia.tkpd.tkpdcontactus.orderquery.view.OrderQueryTicketActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:label="@string/contact_us_title_home" />

        <activity android:name="com.tokopedia.tkpd.tkpdcontactus.orderquery.view.QueryTicketDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:label="@string/contact_us_title_home"/>

        <activity android:name="com.tokopedia.tkpd.tkpdcontactus.orderquery.view.SubmitTicketActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustNothing"
            android:label="@string/submit_ticket_title"/>
        <activity android:name="com.tokopedia.tkpd.tkpdcontactus.orderquery.view.PopularFiveArticleActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustNothing"
            android:label="@string/contact_us_title_home"/>
    </application>
</manifest>