<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.seller_shop_flash_sale">

    <application>
        <activity
            android:name="com.tokopedia.shop.flashsale.presentation.list.quotamonitoring.QuotaMonitoringActivity"
            android:exported="false" />
        <activity
            android:name="com.tokopedia.shop.flashsale.presentation.detail.CampaignDetailActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name="com.tokopedia.shop.flashsale.presentation.creation.manage.ManageProductActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name="com.tokopedia.shop.flashsale.presentation.creation.manage.ChooseProductActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name="com.tokopedia.shop.flashsale.presentation.creation.highlight.ManageHighlightedProductActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name="com.tokopedia.shop.flashsale.presentation.creation.rule.CampaignRuleActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name="com.tokopedia.shop.flashsale.presentation.list.container.CampaignListActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/sfs_your_shop_flash_sale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_sellerapp"
                    android:pathPattern="@string/path_seller_shop_flash_sale"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.shop.flashsale.presentation.creation.information.CampaignInformationActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/sfs_your_shop_flash_sale"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
    </application>

</manifest>