<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0.0"
    package="com.tokopedia.play.broadcaster">

    <application
        android:label="Play Broadcaster Test"
        tools:replace="android:label">
    </application>

</manifest>
