<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0.0">

    <application
        android:label="Shipping Widget Test"
        tools:replace="android:label">

        <activity
            android:name="com.tokopedia.logisticcart.ShippingWidgetCheckoutActivity"
            android:label="Shipping Widget Example"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify"/>

    </application>
</manifest>