<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.tokopedia.darkmodeconfig.view.activity.DarkModeConfigActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--tokopedia-android-internal://global/dark-mode-config-->
                <data
                    android:host="@string/host_global"
                    android:path="@string/path_dark_mode_config"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
    </application>
</manifest>