<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.sellerhome"
    android:versionCode="1"
    android:versionName="1.0.0">

    <application
        android:label="Seller Home Test"
        tools:replace="android:label">

        <activity
            android:name=".stub.features.home.presentation.SellerHomeActivityStub"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/SellerHomeTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_sellerhome"
                    android:scheme="@string/internal_scheme" />
                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_sellerhome_product_list"
                    android:scheme="@string/internal_scheme" />
                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_sellerhome_chat"
                    android:scheme="@string/internal_scheme" />
                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_sellerhome_som_all_order"
                    android:scheme="@string/internal_scheme" />
                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_sellerhome_som_new_order"
                    android:scheme="@string/internal_scheme" />
                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_sellerhome_som_ready_to_ship"
                    android:scheme="@string/internal_scheme" />
                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_sellerhome_som_in_shipping"
                    android:scheme="@string/internal_scheme" />
                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_sellerhome_som_done"
                    android:scheme="@string/internal_scheme" />
                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_sellerhome_som_cacelled"
                    android:scheme="@string/internal_scheme" />
                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_sellerhome_other_settings"
                    android:scheme="@string/internal_scheme" />
                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_sellerhome_som_cacellation_request"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
    </application>
</manifest>