<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.imagepreviewslider">

    <application>
        <activity
            android:name=".presentation.activity.ImagePreviewSliderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>
</manifest>
