<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tokopedia.otp">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".cotp.view.activity.VerificationActivity"
            android:label="@string/title_verify"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.White">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_global"
                    android:pathPattern="@string/path_cotp"/>
            </intent-filter>

        </activity>

        <receiver android:name=".common.util.SmsBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
