<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.instantdebitbca">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>

        <activity
            android:name=".data.view.activity.InstantDebitBcaActivity"
            android:label="@string/instant_debit_bca_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_global"
                    android:pathPattern="@string/path_instant_debit_bca"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".data.view.activity.BcaEditLimitActivity"
            android:label="@string/instant_debit_bca_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_global"
                    android:pathPattern="@string/path_edit_bca_one_click"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
