<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0.0">

    <application
        android:debuggable="true"
        android:label="Login"
        tools:ignore="HardcodedDebugMode"
        tools:replace="android:debuggable,android:label">

        <meta-data
            android:name="firebase_performance_collection_deactivated"
            android:value="true" />

        <activity
            android:name="com.tokopedia.loginregister.login.behaviour.activity.LoginActivityStub"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.tokopedia.loginregister.registerinitial.stub.RegisterInitialActivityStub"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.tokopedia.loginregister.login.behaviour.activity.ChooseAccountActivityStub"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.tokopedia.loginregister.login.behaviour.activity.VerificationActivityStub"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.tokopedia.loginregister.login.behaviour.activity.ChooseAccountActivityStub"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.tokopedia.loginregister.login.behaviour.activity.ChangeNameActivityStub"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.tokopedia.loginregister.login.behaviour.activity.RegisterInitialActivityStub"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.tokopedia.loginregister.login.behaviour.activity.RegisterEmailActivityStub"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>


</manifest>