<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.df.user">

    <dist:module
        dist:onDemand="true"
        dist:title="@string/change_phone_number_app_module_name">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application android:hasCode="false" />
</manifest>

