<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.seller.menu.common">
    <application>
        <activity
            android:name=".view.activity.AdminRoleAuthorizeActivity"
            android:label="@string/admin_authorize_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_admin_authorize"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
    </application>
</manifest>
