<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.cart">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name="com.tokopedia.cart.view.CartActivity"
            android:label="@string/checkout_module_title_activity_cart"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_marketplace"
                    android:path="@string/path_cart"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>

        </activity>

    </application>

</manifest>
