<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.checkout">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".view.feature.cartlist.CartActivity"
            android:label="@string/checkout_module_title_activity_cart"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.feature.addressoptions.CartAddressChoiceActivity"
            android:label="@string/checkout_module_title_shipping_dest"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".view.feature.multipleaddressform.MultipleAddressFormActivity"
            android:label="@string/checkout_module_title_send_to_multiple_address"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.feature.multipleaddressform.AddShipmentAddressActivity"
            android:label="@string/checkout_module_title_shipping_dest"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".view.feature.shipment.ShipmentActivity"
            android:label="@string/checkout_module_title_activity_checkout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".view.feature.webview.CheckoutWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <service
            android:name=".view.feature.cartlist.UpdateCartIntentService"
            android:exported="false" />

    </application>

</manifest>