<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.checkout">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".view.view.cartlist.CartActivity"
            android:label="@string/checkout_module_title_activity_cart"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".view.view.addressoptions.CartAddressChoiceActivity"
            android:label="@string/checkout_module_title_shipping_dest"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".view.view.multipleaddressform.MultipleAddressFormActivity"
            android:label="@string/checkout_module_title_shipping_dest"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".view.view.multipleaddressform.AddShipmentAddressActivity"
            android:label="@string/checkout_module_title_activity_people_tx_details"
            android:theme="@style/Theme.White"/>

        <activity
            android:name=".view.view.shipment.ShipmentActivity"
            android:label="@string/checkout_module_title_activity_checkout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

    </application>

</manifest>