/features/content/affiliate/            				@tokopedia/android-miniondave-dev
/features/content/affiliate_common/     				@tokopedia/android-miniondave-dev
/features/content/createpost/           				@tokopedia/android-minionskywalker-dev
/features/content/explore/              				@tokopedia/android-minionskywalker-dev
/features/content/feed/                 				@tokopedia/android-minionskywalker-dev
/features/content/interest_pick/        				@tokopedia/android-minionskywalker-dev
/features/content/kol/                  				@tokopedia/android-minionskywalker-dev
/features/content/kol_common/           				@tokopedia/android-minionskywalker-dev
/features/content/profile/              				@tokopedia/android-minionskywalker-dev
/features/content/feed_component/       				@tokopedia/android-minionskywalker-dev
/features/category/       				                @tokopedia/android-minionsolo-dev
/features/discovery2/       				            @tokopedia/android-minionsolo-dev
/features/discovery/topadssdk/                      	@tokopedia/android-gatekeeperanalytic-dev
/features/discovery/home/                           	@tokopedia/android-miniondave-dev
/features/discovery/home_component/                    	@tokopedia/android-miniondave-dev
/features/discovery/home_nav/                           @tokopedia/android-miniondave-dev
/features/discovery/home_recom/                     	@tokopedia/android-miniondave-dev
/features/discovery/home_wishlist/                     	@tokopedia/android-miniondave-dev
/features/discovery/recentview/                     	@tokopedia/android-miniondave-dev
/features/discovery/wishlist_common/                	@tokopedia/android-miniondave-dev
/features/discovery/productcard/                    	@tokopedia/android-miniondave-dev
/features/discovery/shopwidget/                    	    @tokopedia/android-miniondave-dev
/features/discovery/search/                         	@tokopedia/android-miniondave-dev
/features/discovery/filter/                         	@tokopedia/android-miniondave-dev
/features/discovery/image_search/                   	@tokopedia/android-miniondave-dev
/features/discovery/similarsearch/                  	@tokopedia/android-miniondave-dev
/features/discovery/autocomplete/                   	@tokopedia/android-miniondave-dev
/features/digital/digital_browse/                   	@tokopedia/android-minionsolo-dev
/features/discovery/global_nav_widget/              	@tokopedia/android-miniondave-dev
/features/discovery/global_nav_widget_samples/      	@tokopedia/android-miniondave-dev
/features/home/dynamicbanner/                          	@tokopedia/android-miniondave-dev
/features/home/navigation/                          	@tokopedia/android-miniondave-dev
/features/home/navigation-common/                   	@tokopedia/android-miniondave-dev
/features/home/searchbar/                           	@tokopedia/android-miniondave-dev
/features/content/play/                                 @tokopedia/android-miniondave-dev
/features/content/play_common/                          @tokopedia/android-miniondave-dev
/features/content/play_broadcaster/                     @tokopedia/android-miniondave-dev
/features/content/play_widget/                          @tokopedia/android-miniondave-dev
/features/content/interest_pick_common                  @tokopedia/android-minionskywalker-dev
/features/discovery/discovery_common                    @tokopedia/android-miniondave-dev
/features/discovery/recommendation_widget_common        @tokopedia/android-miniondave-dev
/features/discovery/carousel_productcard                @tokopedia/android-miniondave-dev
/features/discovery/productcard_options                 @tokopedia/android-miniondave-dev
/features/discovery/home_page_banner                    @tokopedia/android-miniondave-dev
/features/merchant/official_store/                      @tokopedia/android-miniondave-dev
/features/merchant/brandlist/                           @tokopedia/android-miniondave-dev

/features/common/developer_options                  	@tokopedia/android-core-dev
/features/common/nps                                	@tokopedia/android-core-dev
/features/common/resources_common                   	@tokopedia/android-core-dev
/features/common/qr_scanner                   	        @tokopedia/android-core-dev

/features/discovery/category_common/                	@tokopedia/android-minionstuart-dev
/features/merchant/gold_merchant/                       @tokopedia/android-minionstuart-dev
/features/merchant/gold_merchant_common/                @tokopedia/android-minionstuart-dev
/features/merchant/gold_merchant_subscribe/             @tokopedia/android-minionstuart-dev
/features/merchant/power_merchant_subscribe/            @tokopedia/android-minionstuart-dev
/features/merchant/product_detail/                      @tokopedia/android-minionstuart-dev
/features/merchant/product_detail_common/               @tokopedia/android-minionstuart-dev
/features/merchant/product_manage_common/               @tokopedia/android-minionstuart-dev
/features/merchant/product_manage_list/                 @tokopedia/android-minionstuart-dev
/features/merchant/product_share/                       @tokopedia/android-minionstuart-dev
/features/merchant/report/                              @tokopedia/android-minionstuart-dev
/features/merchant/review_product/                      @tokopedia/android-minionstuart-dev
/features/merchant/reputation_common/                   @tokopedia/android-minionstuart-dev
/features/merchant/review/                              @tokopedia/android-minionstuart-dev
/features/merchant/seller_migration_common/             @tokopedia/android-minionstuart-dev
/features/merchant/seller_active_common/                @tokopedia/android-minionstuart-dev
/features/merchant/statistic/                           @tokopedia/android-minionstuart-dev
/features/merchant/gallery/                             @tokopedia/android-minionstuart-dev
/features/merchant/favorite/                            @tokopedia/android-minionstuart-dev
/features/merchant/seller_search/                       @tokopedia/android-minionstuart-dev
/features/merchant/seller_action/                       @tokopedia/android-minionstuart-dev
/features/transaction/sellerorder/                      @tokopedia/android-minionstuart-dev

/features/merchant/product_draft_database/              @tokopedia/android-minionken-dev
/features/merchant/product_add_edit/                    @tokopedia/android-minionken-dev
/features/merchant/shop_common/                         @tokopedia/android-minionken-dev
/features/merchant/shop_open/                           @tokopedia/android-minionken-dev
/features/merchant/shop_showcase/                       @tokopedia/android-minionken-dev
/features/merchant/shop_page/                           @tokopedia/android-minionken-dev
/features/merchant/shop_score/                          @tokopedia/android-minionken-dev
/features/merchant/youtube_common/                      @tokopedia/android-minionken-dev
/features/merchant/shop_settings/                       @tokopedia/android-minionken-dev
/features/merchant/voucher_creation/                    @tokopedia/android-minionken-dev

/features/top_ads/top_ads_dashboard/                    @tokopedia/android-minionskywalker-dev
/features/top_ads/top_ads_free_claim/                   @tokopedia/android-minionskywalker-dev
/features/top_ads/top_ads_management/                   @tokopedia/android-minionskywalker-dev
/features/top_ads/top_ads_management_common/            @tokopedia/android-minionskywalker-dev
/features/top_ads/top_ads_management_sourcetagging/     @tokopedia/android-minionskywalker-dev
/features/top_ads/top_ads_autoads/                      @tokopedia/android-minionskywalker-dev
/features/top_ads/top_ads_create/                       @tokopedia/android-minionskywalker-dev
/features/top_ads/top_ads_detail_sheet/                 @tokopedia/android-minionskywalker-dev
/features/top_ads/top_ads_widget/                       @tokopedia/android-minionskywalker-dev
/features/top_ads/top_ads_headline/                     @tokopedia/android-minionskywalker-dev
/features/top_ads/top_ads_edit/                         @tokopedia/android-minionskywalker-dev

/features/merchant/talk/                            	@tokopedia/android-minionstuart-dev
/features/merchant/variant_common/                      @tokopedia/android-minionstuart-dev
/features/merchant/seller_app_widget/                   @tokopedia/android-minionstuart-dev
/features/merchant/seller_home/                         @tokopedia/android-minionstuart-dev
/features/merchant/seller_home_common/                  @tokopedia/android-minionstuart-dev
/features/merchant/seller_menu/                         @tokopedia/android-minionstuart-dev
/features/merchant/seller_menu_common/                  @tokopedia/android-minionstuart-dev
/features/merchant/seller_onboarding/                   @tokopedia/android-minionstuart-dev
/features/merchant/seller_home_drawer/                  @tokopedia/android-minionstuart-dev
/libraries/kotlin_extensions/                           @tokopedia/android-minionstuart-dev

/features/recharge/common_digital                       @tokopedia/android-minionmark-dev
/features/recharge/common_electronic_money              @tokopedia/android-minionmark-dev
/features/recharge/common_topup_bills                   @tokopedia/android-minionmark-dev
/features/recharge/digital_brizzi                       @tokopedia/android-minionmark-dev
/features/recharge/digital_emoney                       @tokopedia/android-minionmark-dev
/features/recharge/digital_checkout                     @tokopedia/android-minionmark-dev
/features/recharge/digital_homepage                     @tokopedia/android-minionmark-dev
/features/recharge/digital_topup_bills                  @tokopedia/android-minionmark-dev
/features/recharge/digitalproduct                       @tokopedia/android-minionmark-dev
/features/recharge/recharge_component                   @tokopedia/android-minionmark-dev
/features/recharge/recharge_credit_card                 @tokopedia/android-minionmark-dev
/features/recharge/recharge_general                     @tokopedia/android-minionmark-dev
/features/recharge/recharge_slice                       @tokopedia/android-minionmark-dev
/features/recharge/rechargeocr                          @tokopedia/android-minionmark-dev
/features/recharge/smart_bills                          @tokopedia/android-minionmark-dev
/features/recharge/voucher_game                         @tokopedia/android-minionmark-dev

/features/entertainment/deals               	        @tokopedia/android-minionmark-dev
/features/entertainment/digital_deals         			@tokopedia/android-minionmark-dev
/features/entertainment/event                 			@tokopedia/android-minionmark-dev

/features/travel/common_travel                          @tokopedia/android-minionmark-dev
/features/travel/flight/                                @tokopedia/android-minionmark-dev
/features/travel/flight_orderlist                       @tokopedia/android-minionmark-dev
/features/travel/hotel/                                 @tokopedia/android-minionmark-dev
/features/travel/travel_country_code                    @tokopedia/android-minionmark-dev
/features/travel/travel_homepage                        @tokopedia/android-minionmark-dev
/features/travel/travel_passenger                       @tokopedia/android-minionmark-dev
/features/travel/travel_slice                           @tokopedia/android-minionmark-dev

/features/salam/umrah                                   @tokopedia/android-minionmark-dev
/libraries/travel_calendar                              @tokopedia/android-minionmark-dev

/features/promo/promo_checkout/                 		@tokopedia/android-minionmark-dev
/features/promo/promo_checkout_common/          		@tokopedia/android-minionmark-dev

/features/payment/payment/                      		@tokopedia/android-minionbob-dev
/features/transaction/atc_common/               		@tokopedia/android-minionbob-dev
/features/transaction/buyerorder/                       @tokopedia/android-minionbob-dev
/features/transaction/purchase_platform_common/ 		@tokopedia/android-minionbob-dev
/features/transaction/cart/        		                @tokopedia/android-minionbob-dev
/features/transaction/checkout/        		            @tokopedia/android-minionbob-dev
/features/transaction/oneclickcheckout/        		    @tokopedia/android-minionbob-dev
/features/transaction/promo_checkout_marketplace/       @tokopedia/android-minionbob-dev
/features/transaction/minicart/                         @tokopedia/android-minionbob-dev
/features/logistic/logisticCommon/                		@tokopedia/android-minionbob-dev
/features/logistic/logisticaddaddress/          		@tokopedia/android-minionbob-dev
/features/logistic/logisticorder/                    	@tokopedia/android-minionbob-dev
/features/logistic/dropoff/                    	        @tokopedia/android-minionbob-dev
/features/logistic/logisticcart/                		@tokopedia/android-minionbob-dev
/features/logistic/manageaddress/                		@tokopedia/android-minionbob-dev
/features/logistic/editshipping/                        @tokopedia/android-minionbob-dev
/features/logistic/activation/                          @tokopedia/android-minionbob-dev
/features/logistic/localizationchooseaddress/           @tokopedia/android-minionbob-dev
/features/logistic/localizationchooseaddress_common/    @tokopedia/android-minionbob-dev
/features/ordermanagement/snapshot/                     @tokopedia/android-minionbob-dev

/features/media/mediauploader/			                @tokopedia/android-minionkevin-dev
/features/media/media-common/			                @tokopedia/android-minionkevin-dev
/features/media/medialoader/                            @tokopedia/android-minionkevin-dev

/features/user/chatbot/                         		@tokopedia/android-minionskywalker-dev
/features/user/chatbot_no_op/                   		@tokopedia/android-minionkevin-dev
/features/user/chat_common/                     		@tokopedia/android-minionkevin-dev
/features/user/topchat/                         		@tokopedia/android-minionkevin-dev
/features/user/inbox/                         		    @tokopedia/android-minionkevin-dev
/features/user/inbox_common/                         	@tokopedia/android-minionkevin-dev
/features/user/orderhistory/                         	@tokopedia/android-minionkevin-dev
/features/user/topchat_no_op/                   		@tokopedia/android-minionkevin-dev
/features/user/profilecompletion/                       @tokopedia/android-minionkevin-dev
/features/user/vote/                            		@tokopedia/android-minionkevin-dev
/features/user/otp/                             		@tokopedia/android-minionkevin-dev
/features/user/settingbank/                     		@tokopedia/android-minionyoda-dev
/features/user/settingnotif/                    		@tokopedia/android-minionkevin-dev
/features/user/changepassword/                  		@tokopedia/android-minionkevin-dev
/features/user/logout/                          		@tokopedia/android-minionkevin-dev
/features/user/loginregister/                   		@tokopedia/android-minionkevin-dev
/features/user/sessioncommon/                   		@tokopedia/android-minionkevin-dev
/features/user/loginphone/                      		@tokopedia/android-minionkevin-dev
/features/user/managename/                      		@tokopedia/android-minionkevin-dev
/features/user/managepassword/                          @tokopedia/android-minionkevin-dev
/features/user/notif-troubleshooter/                    @tokopedia/android-minionkevin-dev
/features/user/notifcenter/                     		@tokopedia/android-minionkevin-dev
/features/user/attachproduct/                   		@tokopedia/android-minionkevin-dev
/features/user/changephonenumber                		@tokopedia/android-minionkevin-dev
/features/user/onboarding                       		@tokopedia/android-minionkevin-dev
/features/user/updateinactivephone              		@tokopedia/android-minionkevin-dev
/features/user/user_identification/             		@tokopedia/android-minionkevin-dev
/features/user/user_identification_common/      		@tokopedia/android-minionkevin-dev
/features/user/user_identification_no_op/       		@tokopedia/android-minionkevin-dev
/features/user/fcm_common/                              @tokopedia/android-minionkevin-dev
/features/user/seamless_login/                          @tokopedia/android-minionkevin-dev
/features/user/kyc_centralized/                         @tokopedia/android-minionkevin-dev
/features/user/attachinvoice/                           @tokopedia/android-minionkevin-dev
/features/user/attachvoucher/                           @tokopedia/android-minionkevin-dev
/features/user/attachcommon/                            @tokopedia/android-minionkevin-dev
/features/user/stickylogin/                             @tokopedia/android-minionkevin-dev
/features/user/campaign_shake_landing/                  @tokopedia/android-minionkevin-dev
/features/home/account-home/                        	@tokopedia/android-minionkevin-dev
/features/user/home_account/                        	@tokopedia/android-minionkevin-dev
/features/user/loginfingerprint/                        @tokopedia/android-minionkevin-dev
/features/user/liveness/                                @tokopedia/android-minionkevin-dev
/features/user/profilecommon/                           @tokopedia/android-minionkevin-dev
/features/user/additional_check/                        @tokopedia/android-minionkevin-dev
/features/user/home_account/                            @tokopedia/android-minionkevin-dev

/features/operational/contact_us        				@tokopedia/android-minionskywalker-dev
/features/operational/csat_rating        				@tokopedia/android-minionskywalker-dev

/features/fintech/common_wallet         				@tokopedia/android-minionyoda-dev
/features/fintech/instant_loan          				@tokopedia/android-minionyoda-dev
/features/fintech/layanan_finansial                     @tokopedia/android-minionyoda-dev
/features/fintech/paylater                              @tokopedia/android-minionyoda-dev
/features/fintech/ovo_pay_with_qr       				@tokopedia/android-minionyoda-dev
/features/fintech/saldo_details         				@tokopedia/android-minionyoda-dev
/features/fintech/home_credit           				@tokopedia/android-minionyoda-dev
/features/promo/tokopoints              				@tokopedia/android-minionsolo-dev
/features/promo/tokopoints_notification 				@tokopedia/android-minionsolo-dev
/features/promo/gamification            				@tokopedia/android-minionsolo-dev
/features/kyc                           				@tokopedia/android-minionyoda-dev
/features/promo/merchant_voucher                        @tokopedia/android-minionsolo-dev
/features/promo/promo_gamification_common               @tokopedia/android-minionsolo-dev
/features/promo/loyalty                                 @tokopedia/android-minionsolo-dev
/features/promo/loyalty_common                          @tokopedia/android-minionsolo-dev
/features/promo/promotions_target					    @tokopedia/android-minionsolo-dev
/features/promo/promo_ui_common					        @tokopedia/android-minionsolo-dev
/features/promo/mvc_widget  					        @tokopedia/android-minionsolo-dev
/features/fintech/merchant_lending_widget               @tokopedia/android-minionyoda-dev


/features/im/install_referral                           @tokopedia/android-core-dev
/features/im/common_promo                               @tokopedia/android-core-dev
/features/im/referral                   				@tokopedia/android-minionyoda-dev
/features/im/moengage_wrapper                   		@tokopedia/android-minionyoda-dev
/features/ovop2p                                        @tokopedia/android-minionyoda-dev
/features/payment/common_payment                        @tokopedia/android-minionyoda-dev
/features/digital/instant_debit_bca                     @tokopedia/android-minionyoda-dev
/features/fintech/wallet                				@tokopedia/android-minionyoda-dev
/features/payment/thankyou_native                		@tokopedia/android-minionyoda-dev
/features/payment/withdraw/             				@tokopedia/android-minionyoda-dev

/features/payment/payment_setting/              		@tokopedia/android-minionyoda-dev
/features/payment/pms/                          		@tokopedia/android-minionyoda-dev

/libraries/adapter_delegate/							@tokopedia/android-core-dev
/libraries/akamai_bot_lib/							    @tokopedia/android-core-dev
/libraries/analytics/							        @tokopedia/android-core-dev
/libraries/analytics_debugger/							@tokopedia/android-core-dev
/libraries/analytics_debugger_noop/					    @tokopedia/android-core-dev
/libraries/applink/										@tokopedia/android-core-dev
/libraries/banner_dynamic/								@tokopedia/android-core-dev
/libraries/base_adapter/								@tokopedia/android-core-dev
/libraries/base_list/							        @tokopedia/android-core-dev
/libraries/base_list_seller/							@tokopedia/android-core-dev
/libraries/bottom_sheet_builder/						@tokopedia/android-core-dev
/libraries/cassavatest/						            @tokopedia/android-core-dev
/libraries/cache_api/									@tokopedia/android-core-dev
/libraries/cameraview/									@tokopedia/android-core-dev
/libraries/charts/				    		            @tokopedia/android-core-dev
/libraries/circular_view_pager/				    		@tokopedia/android-core-dev
/libraries/cm_push_notifications/						@tokopedia/android-minionyoda-dev
/libraries/collapsing_tab_layout/						@tokopedia/android-core-dev
/libraries/common_network/								@tokopedia/android-core-dev
/libraries/composite_lib/								@tokopedia/android-core-dev
/libraries/core_legacy/									@tokopedia/android-gatekeeperanalytic-dev
/libraries/core_network/								@tokopedia/android-core-dev
/libraries/cpm/											@tokopedia/android-core-dev
/libraries/date_picker_range/							@tokopedia/android-core-dev
/libraries/dev_monitoring_tools/					    @tokopedia/android-core-dev
/libraries/device_info/                                 @tokopedia/android-core-dev
/libraries/device_fingerprint                           @tokopedia/android-core-dev
/libraries/dynamic_features/							@tokopedia/android-core-dev
/libraries/encryption/							        @tokopedia/android-core-dev
/libraries/fingerprint/									@tokopedia/android-core-dev
/libraries/floating_window                              @tokopedia/android-core-dev @tokopedia/android-miniondave-dev
/libraries/graphql/									    @tokopedia/android-core-dev
/libraries/image_picker/								@tokopedia/android-core-dev
/libraries/image_picker_common/						    @tokopedia/android-core-dev
/libraries/image_preview/								@tokopedia/android-core-dev
/libraries/imageuploader/								@tokopedia/android-core-dev
/libraries/inappupdate/									@tokopedia/android-core-dev
/libraries/instrumentation_test                         @tokopedia/android-core-dev
/libraries/iris/										@tokopedia/android-gatekeeperanalytic-dev
/libraries/iris_session/	                            @tokopedia/android-gatekeeperanalytic-dev
/libraries/kotlin_extensions/							@tokopedia/android-core-dev
/libraries/linker/										@tokopedia/android-core-dev
/libraries/lint/										@tokopedia/android-miniondarth-dev
/libraries/liveness_lib/								@tokopedia/android-core-dev
/libraries/locationmanager/								@tokopedia/android-core-dev
/libraries/logger/										@tokopedia/android-core-dev
/libraries/keys/										@tokopedia/android-core-dev
/libraries/mapviewer/								    @tokopedia/android-core-dev
/libraries/oms/											@tokopedia/android-core-dev
/libraries/pre_release_inspector/			            @tokopedia/android-core-dev
/libraries/pre_release_inspector_no_op/					@tokopedia/android-core-dev
/libraries/product_photo_adapter/                       @tokopedia/android-minionken-dev
/libraries/push_notification/							@tokopedia/android-core-dev
/libraries/remote_config/								@tokopedia/android-core-dev
/libraries/remoteresourcerequest/						@tokopedia/android-core-dev
/libraries/shake_detect/					            @tokopedia/android-core-dev
/libraries/smart_recycler_diffutil_helper/			    @tokopedia/android-core-dev
/libraries/track/										@tokopedia/android-gatekeeperanalytic-dev
/libraries/tracking_optimizer/							@tokopedia/android-gatekeeperanalytic-dev
/libraries/translator/									@tokopedia/android-core-dev
/libraries/travel_calendar/								@tokopedia/android-core-dev
/libraries/twitter_share/								@tokopedia/android-core-dev
/libraries/unit_test                                    @tokopedia/android-core-dev
/libraries/utils                                        @tokopedia/android-core-dev
/libraries/videoplayer/									@tokopedia/android-core-dev
/libraries/videouploader/								@tokopedia/android-core-dev
/libraries/weaver/									    @tokopedia/android-core-dev
/libraries/websocket/									@tokopedia/android-core-dev
/libraries/webview/										@tokopedia/android-core-dev
/libraries/williamchart/								@tokopedia/android-core-dev
/libraries/work_manager_util/					        @tokopedia/android-core-dev
/libraries/youtubeutil/									@tokopedia/android-core-dev
/libraries/imagepreviewslider                           @tokopedia/android-core-dev
/libraries/blockcanary                                  @tokopedia/android-core-dev
/libraries/annotation_proc_central                      @tokopedia/android-core-dev
/libraries/cassavatest                                  @tokopedia/android-core-dev
/libraries/screen_recorder                              @tokopedia/android-core-dev
/libraries/screenshot_observer                          @tokopedia/android-core-dev
/libraries/tokopatch                                    @tokopedia/android-core-dev

/buildconfig/                                           @tokopedia/android-core-dev
/dynamic-features/                                      @tokopedia/android-core-dev
/dynamic-features-sellerapp/                            @tokopedia/android-core-dev
/tools/                                                 @tokopedia/android-core-dev

/tkpddiscovery/                                        	@tokopedia/android-core-dev
/tkpdsession/                                       	@tokopedia/android-core-dev
/tkpddigital/                                       	@tokopedia/android-core-dev
/tkpdseller/                                        	@tokopedia/android-core-dev

/tkpddesign/                                        	@tokopedia/android-gatekeeperlegacy-dev
/tkpdcore/                                          	@tokopedia/android-gatekeeperlegacy-dev
/tkpdabstraction/                                   	@tokopedia/android-gatekeeperlegacy-dev

/customerapp/                                       	@tokopedia/android-core-dev
/customer_mid_app/                                      @tokopedia/android-core-dev
/sellerapp/                                         	@tokopedia/android-minionstuart-dev
/testapp/                                               @tokopedia/android-core-dev


/customerapp/src/main/java/com/tokopedia/tkpd/ConsumerMainApplication.java                      @tokopedia/android-gatekeeperloadtime-dev
/customerapp/src/main/java/com/tokopedia/tkpd/ConsumerRouterApplication.java                    @tokopedia/android-gatekeeperloadtime-dev
/customerapp/src/main/java/com/tokopedia/tkpd/ConsumerSplashScreen.java                         @tokopedia/android-gatekeeperloadtime-dev
/tkpdcore/src/main/java/com/tokopedia/core/SplashScreen.java                                    @tokopedia/android-gatekeeperloadtime-dev
/tkpdcore/src/main/java/com/tokopedia/core/app/MainApplication.java                             @tokopedia/android-gatekeeperloadtime-dev