/tkpdsession/       @tokopedia/minion-kevin
/tkpdflight/        @tokopedia/minion-mark
/tkpdloyalty/       @tokopedia/minion-bob
/tkpdride/          @vishalgupta1987
/tkpdfeed/          @tokopedia/minion-kevin
/tkpddigital/       @tokopedia/minion-mark
/tkpdcore/          @tokopedia/core-team
/tkpdinbox/         @tokopedia/minion-kevin
/tkpddiscovery/     @tokopedia/minion-dave
/tkpdtransaction/   @tokopedia/minion-bob
/tkpdtopadssdk/     @tokopedia/minion-dave
/tkpdpdp/           @tokopedia/minion-dave
/tkpddesign/        @mzennis
/sellerapp/         @tokopedia/minion-stuart
/tkpdseller/        @tokopedia/minion-stuart
/tkpdtopads/        @tokopedia/minion-stuart
/tkpdtokocash/      @tokopedia/minion-mark
/tkpdusecase/       @tokopedia/core-team
/tkpdabstraction/   @tokopedia/core-team
/tkpdcacheapi/      @tokopedia/core-team
/tkpdevents/        @vishalgupta1987
/tkpdhome/          @tokopedia/minion-dave
/customerapp/       @tokopedia/core-team

/features/fintech/mitra_toppers/        @tokopedia/minion-stuart
/features/digital/flight_no_op/         @tokopedia/minion-mark
/features/merchant/gold_merchant/       @tokopedia/minion-stuart
/features/merchant/reputation/          @tokopedia/minion-stuart
/features/payment/payment/              @tokopedia/minion-bob
/features/digital/flight_no_op/         @tokopedia/minion-mark
/features/user/groupchat/               @tokopedia/minion-kevin

/libraries/react_native/                @tokopedia/core-team


