/tkpdsession/ @nisie
/tkpdflight/ @alvarisi
/tkpdloyalty/ @agaprasetyo
/tkpdride/ @vishalgupta1987
/tkpdfeed/ @nisie
/tkpddigital/ @rizkyfadillah
/tkpdcore/ @ricoharisin
/tkpdinbox/ @nisie
/tkpddiscovery/ @hangnadi
/tkpdtransaction/ @agaprasetyo
/tkpdtopadssdk/ @eriksuprayogi
/tkpdpdp/ @alifanuraniputri
/tkpddesign/ @mzennis
/sellerapp/ @nathaniel09
/tkpdseller/ @nathaniel09
/tkpdtopads/ @nathaniel09
/tkpdtokocash/ @nabillasab
/tkpdusecase/ @ricoharisin
/tkpdabstraction/ @ricoharisin
/tkpdcacheapi/ @nathaniel09
/tkpdevents/ @vishalgupta1987
/tkpdhome/ @chnerypriyono

/features/fintech/mitra_toppers/ @nathaniel09
/features/digital/flight_no_op/ @alvarisi
/features/merchant/gold_merchant/ @nathaniel09
/features/merchant/reputation/ @nathaniel09
/features/payment/payment/ @kristoff1

/libraries/react_native/ @okasurya

