<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0.0"
    package="com.tokopedia.home_account">

    <application
        android:label="New Home Account Test"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:debuggable,android:label"
        android:debuggable="false">

        <activity android:name=".stub.view.activity.HomeAccountUserActivityStub"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    </application>
</manifest>

