<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.fingerprint">

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
</manifest>