<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.travel.passenger">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".presentation.activity.TravelContactDataActivity"
            android:label="@string/travel_contact_data_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify" />

    </application>

</manifest>