<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.exploreCategory">

    <application>
        <activity
            android:name=".ui.activity.ECHomeActivity"
            android:label="@string/label_category_explore"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/host_category_explore"
                    android:scheme="@string/internal_scheme" />

            </intent-filter>
        </activity>
    </application>
</manifest>
