<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.tokopoints">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".view.tokopointhome.TokoPointsHomeNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TokoPointTransparentStatus">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopoints"
                    android:path="@string/path_tokopoint_home"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.cataloglisting.CatalogListingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopoints"
                    android:pathPrefix="@string/path_tokopoints_catalog_listing"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.couponlisting.CouponListingStackedActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopoints"
                    android:pathPrefix="@string/path_tokopoints_coupon"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.catalogdetail.CouponCatalogDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopoints"
                    android:pathPrefix="@string/path_tokopoints_catalog_details"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.coupondetail.CouponDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopoints"
                    android:pathPrefix="@string/path_tokopoints_coupon_details"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.pointhistory.PointHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopoints"
                    android:pathPrefix="@string/path_tokopoints_history"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.intro.RewardIntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopoints"
                    android:pathPrefix="@string/path_tokopoints_introduction"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>