<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.tokopoints">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>
        <activity
            android:name=".view.activity.TokoPointsHomeNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TokoPointTransparentStatus" />
        <activity
            android:name=".view.activity.CouponListingStackedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" >

        </activity>
        <activity
            android:name=".view.activity.CatalogListingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:pathPrefix="@string/path_tokopoints_catalog_listing"
                    android:host="@string/host_tokopoints"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.TokoPointsHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:path="@string/path_tokopoint_home"
                    android:host="@string/host_tokopoints"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MyCouponListingActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.White" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:pathPrefix="@string/path_tokopoints_coupon"
                    android:host="@string/host_tokopoints"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.CouponCatalogDetailsActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Theme.White" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:pathPrefix="@string/path_tokopoints_catalog_details"
                    android:host="@string/host_tokopoints"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.CouponDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:pathPrefix="@string/path_tokopoints_coupon_details"
                    android:host="@string/host_tokopoints"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.SendGiftActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".view.activity.PointHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
    </application>

</manifest>