<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android='http://schemas.android.com/apk/res/android'
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.tkpd.test">

    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18" />

    <instrumentation
        android:name="com.tokopedia.tkpd.MyRunner"
        android:targetPackage="com.tokopedia.tkpd"/>
</manifest>
