<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:ns0="http://schemas.android.com/apk/distribution"
    package="com.tokopedia.df.recharge.brizzi">

    <ns0:module ns0:title="@string/title_digital_emoney">
        <ns0:delivery>
            <ns0:on-demand />
            <ns0:install-time>
                <ns0:conditions>
                    <ns0:min-sdk ns0:value="21" />
                    <ns0:max-sdk ns0:value="23" />
                </ns0:conditions>
            </ns0:install-time>
        </ns0:delivery>
        <ns0:fusing ns0:include="true" />
    </ns0:module>
    <application android:hasCode="false" />
</manifest>