<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.notifications">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <receiver android:name=".receiver.CMBroadcastReceiver"/>

        <service
            android:name=".CMJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>
</manifest>
