<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.hotlist">

    <application>
        <activity
            android:name=".activity.HotlistNavActivity"
            android:label="@string/hotlist_label"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_hotlist_revamp"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
    </application>
</manifest>
