<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.digital">

    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".cart.activity.CartDigitalActivity"
            android:label="@string/title_activity_cart_digital_module"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".product.view.activity.DigitalProductActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".cart.activity.OtpVerificationActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:name=".cart.activity.InstantCheckoutActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity android:name=".product.view.activity.DigitalChooserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".product.view.activity.DigitalWebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".categorylist.view.activity.DigitalCategoryListActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_category_list_digital_module" />
        <activity android:name=".product.additionalfeature.etoll.view.activity.DigitalCheckETollBalanceNFCActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity android:name=".product.view.activity.DigitalUssdActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".product.view.activity.DigitalSearchNumberActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
