<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.discovery">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true">
        <activity
            android:name=".catalog.activity.CatalogDetailActivity"
            android:label="@string/title_activity_catalog"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BrowseProductActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".newdynamicfilter.RevampedDynamicFilterActivity"
            android:label="Filter"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".newdynamicfilter.DynamicFilterColorActivity"
            android:label="Warna"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".newdynamicfilter.DynamicFilterLocationActivity"
            android:label="Lokasi"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".newdynamicfilter.DynamicFilterRatingActivity"
            android:label="Rating"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".newdynamicfilter.DynamicFilterDetailGeneralActivity"
            android:label="Filter"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".newdynamicfilter.DynamicFilterDetailBrandActivity"
            android:label="Brand"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name=".newdynamicfilter.DynamicFilterCategoryActivity"
            android:label="Kategori"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SortProductActivity"
            android:label="Urutkan"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".intermediary.view.IntermediaryActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".intermediary.view.adapter.YoutubeIntermediaryActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".categorynav.view.CategoryNavigationActivity" />
        <activity
            android:name=".newdiscovery.hotlist.view.activity.HotlistActivity"
            android:label="@string/title_activity_hotlist"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".newdiscovery.search.SearchActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity android:name=".newdiscovery.category.presentation.CategoryActivity"></activity>
    </application>

</manifest>