<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.challenges">

    <application>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tokopedia.tkpd.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name=".view.activity.ChallengesSubmitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.PopupTransparent"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.ChallengesHomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/im_challenge"
            android:theme="@style/Theme.White">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/path_challenge"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/path_challenge"
                    android:scheme="@string/tokopedia_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.ChallengeDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:label="@string/im_challenge"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/path_challenge"
                    android:pathPattern="@string/path_details"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/path_challenge"
                    android:pathPattern="@string/path_details"
                    android:scheme="@string/tokopedia_scheme" />
            </intent-filter>

        </activity>

        <activity
            android:name=".view.activity.SubmitDetailActivity"
            android:screenOrientation="portrait"
            android:label="@string/im_challenge"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:pathPattern="@string/path_submission"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.FullScreenPortraitVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".view.activity.FullScreenLandscapeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service android:name=".view.service.UploadChallengeService" />
    </application>

</manifest>