<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.challenges">

    <application>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tokopedia.tkpd.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name=".view.activity.ChallengesSubmitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.PopupTransparent"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.ChallengesHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <!--<activity
            android:name=".view.activity.ChallengeDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />-->
        <activity
            android:name=".view.activity.ChallengeDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".view.activity.SubmitDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".view.activity.FullScreenPortraitVideoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".view.activity.FullScreenLandscapeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service android:name=".view.service.UploadChallengeService" />
<!--
        <activity
            android:name=".view.activity.AllSubmissionsActivity"
            android:screenOrientation="portrait"></activity>-->
    </application>

</manifest>