<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.tokopedia.profilecompletion.customerapp">

    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/app_name_setting_profile">
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>

