<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.loginregister">

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <activity
            android:theme="@style/Theme.White"
            android:name=".external_register.base.activity.ExternalRegisterWebViewActivity"/>

        <activity
            android:name=".login.view.activity.LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateHidden">
          <intent-filter>
            <action android:name="com.tokopedia.internal.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
    
            <data
              android:scheme="@string/internal_scheme"
              android:host="@string/host_global"
              android:pathPattern="@string/path_user_login" />
          </intent-filter>
          
        </activity>
        <activity
            android:name=".registerinitial.view.activity.RegisterInitialActivity"
            android:label="@string/title_register"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:pathPattern="@string/path_init_register"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".registerinitial.view.activity.RegisterEmailActivity"
            android:label="@string/title_activity_register_2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:pathPattern="@string/path_email_register"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shopcreation.view.activity.LandingShopCreationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:pathPattern="@string/path_landing_shop_creation"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shopcreation.view.activity.PhoneShopCreationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:pathPattern="@string/path_phone_shop_creation"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shopcreation.view.activity.NameShopCreationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:pathPattern="@string/path_name_shop_creation"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.view.activity.SellerSeamlessLoginActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_seller_seamless_choose_acc"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.view.activity.SeamlessLoginEmailPhoneActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:path="@string/path_seller_seamless_login"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".external_register.ovo.view.activity.OvoAddNameActivity"
            android:label="@string/title_external_register"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:path="@string/path_ovo_add_name"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".external_register.ovo.view.activity.OvoRegisterInitialActivity"
            android:label="@string/title_external_register"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:path="@string/path_ovo_regis_init"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/host_global"
                    android:path="@string/path_ovo_regis_init"
                    android:scheme="tokopedia" />
            </intent-filter>

        </activity>

        <activity
            android:name=".external_register.ovo.view.activity.OvoFinalPageActivity"
            android:label="@string/title_external_register"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:path="@string/path_ovo_final_page"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
      
        <activity
          android:name=".termprivacy.view.activity.TermPrivacyActivity"
          android:label="@string/title_activity_term_and_privacy"
          android:screenOrientation="portrait"
          android:theme="@style/Theme.White"
          android:windowSoftInputMode="adjustResize">
          <intent-filter>
            <action android:name="com.tokopedia.internal.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
  
            <data
              android:host="@string/host_global"
              android:pathPattern="@string/path_term_privacy"
              android:scheme="@string/internal_scheme" />
          </intent-filter>
        </activity>

        <service android:name=".seamlesslogin.RemoteService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.tokopedia.loginregister.seamlesslogin.RemoteService" />
            </intent-filter>
        </service>
        <service
            android:name=".login.service.RegisterPushNotifService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".login.service.GetDefaultChosenAddressService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>