<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.loginregister">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <activity
            android:name=".login.view.activity.LoginActivity"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_user"
                    android:pathPattern="@string/applink_login" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registerinitial.view.activity.RegisterInitialActivity"
            android:label="@string/title_register"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_user"
                    android:pathPattern="@string/applink_init_register"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.loginregister.redefineregisteremail.view.RedefineRegisterEmailActivity"
            android:label="@string/register_email_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_user"
                    android:pathPattern="@string/path_redefine_register_email"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".registerinitial.view.activity.RegisterEmailActivity"
            android:label="@string/title_activity_register_2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_user"
                    android:pathPattern="@string/applink_email_register"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shopcreation.view.landingshop.LandingShopCreationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_user"
                    android:pathPattern="@string/applink_landing_shop_creation"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shopcreation.view.phoneshop.PhoneShopCreationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_user"
                    android:pathPattern="@string/applink_phone_shop_creation"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shopcreation.view.nameshop.NameShopCreationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_user"
                    android:pathPattern="@string/applink_name_shop_creation"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.view.activity.SellerSeamlessLoginActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustResize"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_seller_seamless_choose_acc"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.view.activity.SeamlessLoginEmailPhoneActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustResize"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_user"
                    android:path="@string/applink_login_seamless"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".termprivacy.TermPrivacyActivity"
            android:label="@string/title_activity_term_and_privacy"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustResize"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_user"
                    android:pathPattern="@string/applink_term_privacy"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".goto_seamless.GotoSeamlessLoginActivity"
            android:label="@string/goto_seamless_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustResize"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_user"
                    android:pathPattern="@string/applink_goto_seamless_login"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.loginregister.forbidden.ForbiddenActivity"
            android:label="@string/title_activity_forbidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

        <service
            android:name=".seamlesslogin.RemoteService"
            android:permission="com.tokopedia.sellerapp.REMOTE_SERVICE_SEAMLESS"
            android:exported="true">
            <intent-filter>
                <action android:name="com.tokopedia.loginregister.seamlesslogin.RemoteService" />
            </intent-filter>
        </service>
        <service
            android:name=".login.service.RegisterPushNotifService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".login.service.GetDefaultChosenAddressService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
</manifest>