<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.talk"
    android:versionCode="1"
    android:versionName="1.0.0">

    <application
        android:label="Talk Test"
        tools:replace="android:label" />
</manifest>