<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tokopedia.payment">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".cart.activity.TopPayActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"/>
    </application>

</manifest>
