<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.payment.setting">

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <activity
            android:name=".list.view.activity.SettingListPaymentActivity"
            android:label="@string/payment_title_list_card"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".detail.view.activity.DetailCreditCardActivity"
            android:label="@string/payment_label_credit_card"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".add.view.activity.AddCreditCardActivity"
            android:label="@string/payment_label_button_add_card"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".authenticate.view.activity.AuthenticateCreditCardActivity"
            android:label="@string/payment_label_credit_card_verification"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
    </application>
</manifest>
