<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.payment.setting">

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <activity
            android:name=".list.SettingListPaymentActivity"
            android:label="@string/payment_title_list_card"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
    </application>
</manifest>
