<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.play.broadcaster">

    <uses-sdk tools:overrideLibrary="com.alivc.videochat" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity
            android:name=".view.activity.PlayCoverCameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PlayBroadcast.FullScreen"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.PlayBroadcastActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PlayBroadcast"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>