<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.play.broadcaster">
    <application>
        <activity
            android:name=".view.PlayBroadcasterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".view.PlayPrepareBroadcastActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Theme.PlayBroadcast"
            />
    </application>
</manifest>
