<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.tkpdpdp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".ProductInfoActivity"
            android:label="@string/title_activity_product_info"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".affiliate.ProductAffiliateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>

        <activity
            android:name=".ProductYoutubeActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".CourierActivity"
            android:label="@string/courier_page_title"
            android:theme="@style/Theme.White"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".WholesaleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".PreviewProductImageDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoTitleBar.Fullscreen" />

        <activity
            android:name=".InstallmentActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".DescriptionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".VariantActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".ProductModalActivity"
            android:theme="@style/Theme.White"
            android:label="@string/title_activity_product_modal"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity
            android:name=".DinkFailedActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".DinkSuccessActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".estimasiongkir.presentation.activity.RatesEstimationDetailActivity"
            android:label="@string/label_rates_estimation_detail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"/>

        <activity android:name=".DescriptionActivityNew"/>

        <activity android:name=".ProductInfoShortDetailActivity"/>
    </application>

</manifest>