<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.epharmacy">

    <application>
        <activity
            android:name=".ui.activity.EPharmacyActivity"
            android:theme="@style/Theme.WhiteUnify"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/host_epharmacy"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.EPharmacyMiniConsultationTransparentActivity"
            android:theme="@style/Theme.AppCompat.DayNight.Translucent"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/host_epharmacy"
                    android:scheme="@string/internal_scheme"
                    android:pathPattern="@string/applink_epharmacy_edu"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
