<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.flight.orderlist">

    <application>
        <activity
            android:name=".view.FlightOrderListActivity"
            android:label="@string/flight_order_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
