<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.product.manage.item">

    <application>
        <activity
            android:name=".main.add.view.activity.ProductAddNameCategoryActivity"
            android:label="@string/label_product_add"
            android:theme="@style/Theme.White">

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.add.view.activity.ProductAddActivity"
            android:label="@string/label_product_add"
            android:theme="@style/Theme.White">

        </activity>

        <activity
            android:name=".catalog.view.activity.ProductEditCatalogPickerActivity"
            android:label="@string/product_label_catalog"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".category.view.activity.ProductEditCategoryActivity"
            android:label=""
            android:theme="@style/Theme.White" />

        <activity
            android:name=".name.view.activity.ProductEditNameActivity"
            android:label="@string/product_label_product_name"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".price.view.activity.ProductEditPriceActivity"
            android:label="@string/product_label_product_price"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".description.view.activity.ProductEditDescriptionActivity"
            android:label="@string/product_label_description_product"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".stock.view.activity.ProductEditStockActivity"
            android:label="@string/product_label_product_stock"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".logistic.view.activity.ProductEditWeightLogisticActivity"
            android:label="@string/product_label_logistic_product"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".video.view.activity.ProductAddVideoActivity"
            android:label="@string/title_activity_video"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".video.view.activity.ProductAddVideoRecommendationActivity"
            android:label="@string/title_activity_video_recommendation"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".main.edit.view.activity.ProductEditActivity"
            android:label="@string/title_activity_edit_product"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_merchant"
                    android:pathPattern="@string/path_product_edit"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".main.draft.view.activity.ProductDraftAddActivity"
            android:label="@string/title_activity_add_product"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.draft.view.activity.ProductDraftEditActivity"
            android:label="@string/title_activity_edit_product"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.duplicate.activity.ProductDuplicateActivity"
            android:label="@string/title_activity_add_product"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait" />
        <activity
            android:name=".description.view.activity.ProductAddDescriptionPickerActivity"
            android:label="@string/product_label_product_description"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".description.view.activity.ProductAddDescriptionInfoActivity"
            android:label="@string/product_desc_guide"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait" />

        <activity android:name=".wholesale.activity.ProductAddWholesaleActivity"
            android:label="@string/product_label_information_product"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

    </application>

</manifest>