<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.inbox"
    android:versionCode="1"
    android:versionName="1.0.0">

    <application
        android:debuggable="true"
        android:label="Inbox"
        android:networkSecurityConfig="@xml/network_security_config"
        android:largeHeap="true"
        tools:ignore="HardcodedDebugMode"
        tools:replace="android:debuggable,android:label"/>
</manifest>