<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.watch"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-sdk tools:overrideLibrary="androidx.wear.remote.interactions"/>
    <application>
        <service
            android:name=".listenerservice.DataLayerServiceListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/start-order-activity"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/accept-bulk-order"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/app-detection"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/get-notification-list"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/get-order-list"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/get-summary"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/get-all-data"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/get-phone-state"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/open-login-page"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/open-ready-to-ship"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/open-new-order-list"
                    android:scheme="wear" />
            </intent-filter>
        </service>
    </application>

</manifest>