<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.power_merchant.subscribe">

    <application>
        <activity android:name=".view.activity.PowerMerchantSubscribeActivity"></activity>
    </application>

</manifest>