<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.power_merchant.subscribe">

    <application>
        <activity
            android:name=".view.activity.PowerMerchantSubscribeActivity"
            android:label="@string/pm_title_activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.White"/>
        <activity
            android:name=".view.activity.TransitionPeriodPmActivity"
            android:label="@string/pm_title_activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"/>
        <activity
            android:name=".view.activity.PowerMerchantTermsActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"/>
    </application>



</manifest>