<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.power_merchant.subscribe">

    <application>
        <activity
            android:name=".view.activity.SubscriptionActivity"
            android:label="@string/pm_title_activity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_marketplace"
                    android:pathPattern="@string/path_power_merchant_subscribe"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
    </application>
</manifest>