<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.topads.edit">

    <application
        android:allowBackup="true"
        android:label="@string/ubah_group"
        android:supportsRtl="true"
        tools:replace="android:label">
        <activity android:name="com.tokopedia.topads.edit.view.activity.EditFormAdActivity"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_topads"
                    android:path="/edit-ads"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.SelectKeywordActivity"
            android:theme="@style/Theme.White"
            android:label="@string/add_keword"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".view.activity.SelectNegKeywordActivity"
            android:theme="@style/Theme.White"
            android:label="@string/add_negative_keyword"

            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.SelectProductActivity"
            android:theme="@style/Theme.White"
            android:label="@string/product_select_label"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>