<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.notifcenter">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".view.activity.NotifCenterActivity"
            android:label="@string/title_notif_center"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>
