<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.notifcenter">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".presentation.activity.NotificationActivity"
            android:label="@string/notifications"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_marketplace"
                    android:pathPattern="@string/path_notification"
                    android:scheme="@string/internal_scheme" />

                <data
                    android:host="@string/host_marketplace"
                    android:pathPattern="@string/path_notification_buyer_info"
                    android:scheme="@string/internal_scheme" />

                <data
                    android:host="@string/host_marketplace"
                    android:pathPattern="@string/path_notification_buyer_info_id"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.activity.NotificationSellerActivity"
            android:exported="true"
            android:label="@string/title_seller_info"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Green">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/path_sellerapp_notification"
                    android:scheme="@string/tokopedia_scheme" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MarkAsSeenService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>
