<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tokopedia.updateinactivephone">


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".activity.ChangeInactivePhoneActivity"
            android:label="Masuk"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".activity.ChangeInactiveFormRequestActivity"
            android:label="Masuk"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>

        <activity
            android:name=".activity.ChangeInactivePhoneRequestSubmittedActivity"
            android:label="Masuk"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
    </application>

</manifest>