<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.affiliate_toko">

    <application>
        <activity
            android:name="com.tokopedia.affiliate.ui.activity.AffiliateComponentActivity"
            android:exported="false" />
        <activity
            android:name="com.tokopedia.affiliate.ui.activity.AffiliateActivity"
            android:label="@string/label_affiliate"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/host_affiliate_toko"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.tokopedia.affiliate.ui.activity.AffiliateTransactionDetailActivity"
            android:label="@string/label_affiliate"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"
            android:theme="@style/Theme.WhiteUnify"
            >
        </activity>
        <activity android:name="com.tokopedia.affiliate.ui.activity.AffiliateRegistrationActivity"
            android:label="@string/label_affiliate"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"
            android:theme="@style/Theme.WhiteUnify"
            >
        </activity>
        <activity android:name="com.tokopedia.affiliate.ui.activity.AffiliateSaldoWithdrawalDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.WhiteUnify"/>
        <activity android:name="com.tokopedia.affiliate.ui.activity.AffiliatePromoSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.WhiteUnify"/>
        <activity android:name="com.tokopedia.affiliate.ui.activity.AffiliateEducationSeeAllActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.WhiteUnify"/>
    </application>

</manifest>
