<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.loginfingerprint">

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:label="@string/title_feature_login_fingerprint_setting"
            android:name=".view.activity.SettingFingerprintActivity"
            android:theme="@style/Theme.White">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:pathPattern="@string/applink_account_setting_fingerprint"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>

        </activity>

        <activity
            android:label="@string/title_login_fingerprint"
            android:name=".view.activity.VerifyFingerprintActivity">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/host_global"
                    android:pathPattern="@string/applink_account_verify_fingerprint"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>

        </activity>

    </application>

</manifest>