<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.sellerapp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.tokopedia.sellerapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.tokopedia.tkpd.permission.C2D_MESSAGE" />

    <!-- TODO Deny RECORD_AUDIO permission from Instabug -->
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        tools:node="remove" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

</manifest>