<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.analyticsdebugger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <activity
            android:name=".debugger.ui.activity.ApplinkDebuggerActivity"
            android:label="Applink Debugger"
            android:launchMode="singleTask"
            android:taskAffinity="com.tokopedia.analytics.task"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".debugger.ui.activity.FpmDebuggerActivity"
            android:label="FPM Debugger"
            android:launchMode="singleTask"
            android:taskAffinity="com.tokopedia.analytics.task"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.tokopedia.analyticsdebugger.cassava.validator.MainValidatorActivity"
            android:label="Analytics Validator"
            android:launchMode="singleTask"
            android:taskAffinity="com.tokopedia.analytics.task"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".debugger.ui.activity.TopAdsDebuggerActivity"
            android:launchMode="singleTask"
            android:label="Topads Verificator"
            android:taskAffinity="com.tokopedia.analytics.task"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".cassava.debugger.AnalyticsDebuggerActivity"
            android:label="Analytics Debugger"
            android:launchMode="singleTask"
            android:taskAffinity="com.tokopedia.analytics.task"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".debugger.ui.activity.AnalyticsIrisSaveDebuggerActivity"
            android:label="Analytics Debugger - Iris Save"
            android:launchMode="singleTask"
            android:taskAffinity="com.tokopedia.analytics.task"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".debugger.ui.activity.AnalyticsIrisSendDebuggerActivity"
            android:label="Analytics Debugger - Iris Send"
            android:launchMode="singleTask"
            android:taskAffinity="com.tokopedia.analytics.task"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".debugger.ui.activity.FpmDebuggerDetailActivity"
            android:theme="@style/Theme.Green" />

        <activity
            android:name=".debugger.ui.activity.TopAdsDebuggerDetailActivity"
            android:theme="@style/Theme.Green" />

        <activity
            android:name=".debugger.ui.activity.ApplinkDebuggerDetailActivity"
            android:theme="@style/Theme.Green" />
    </application>

</manifest>