<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.tokochat"
    android:versionCode="1"
    android:versionName="1.0.0">

    <application
        android:debuggable="true"
        android:label="TokoChat"
        tools:ignore="HardcodedDebugMode"
        tools:replace="android:debuggable,android:label">

        <activity
            android:name="com.tokopedia.tokochat.stub.view.TokoChatActivityStub"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>
</manifest>