<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.scp_rewards">

    <application
        >
        <activity android:name=".presentation.TestActivity"
            android:exported="false"
            android:label="scp"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>