<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.travelhomepage">

    <application>
        <activity
            android:name=".homepage.presentation.activity.TravelHomepageActivity"
            android:label="@string/travel_title_subhomepage"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_travel_entertainment"
                    android:path="@string/path_travel_entertainment_home"
                    android:scheme="@string/tokopedia_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".destination.presentation.activity.TravelDestinationActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify" >

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_travel_entertainment"
                    android:pathPattern="@string/path_travel_entertainment_destination"
                    android:scheme="@string/tokopedia_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>