<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.editor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application>
        <activity
            android:name="com.tokopedia.editor.ui.main.MainEditorActivity"
            android:exported="false"
            android:label="Preview"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:path="@string/host_universal_editor"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:noHistory="true"
            android:name="com.tokopedia.editor.ui.text.InputTextActivity"
            android:exported="false"
            android:label="Preview"
            android:screenOrientation="portrait"
            android:theme="@style/InputText"/>

        <activity
            android:noHistory="true"
            android:name="com.tokopedia.editor.ui.placement.PlacementImageActivity"
            android:exported="false"
            android:label="Preview"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
