<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.flight">

    <application android:supportsRtl="true">
        <activity
            android:name=".homepage.presentation.activity.FlightHomepageActivity"
            android:label="@string/flight_dashboard_toolbar_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_flight"
                    android:path="@string/path_flight_dashboard"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_flight"
                    android:path="@string/path_flight_search"
                    android:scheme="@string/tokopedia_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".airport.view.activity.FlightAirportPickerActivity"
            android:label="@string/search_flight"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify" />
        <activity
            android:name=".search.presentation.activity.FlightSearchActivity"
            android:label="@string/search_flight"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify" />
        <activity
            android:name=".search.presentation.activity.FlightSearchReturnActivity"
            android:label="@string/search_flight"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify" />
        <activity
            android:name=".passenger.view.activity.FlightBookingAmenityActivity"
            android:label="@string/flight_booking_luggage_toolbar_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify" />
        <activity
            android:name=".passenger.view.activity.FlightBookingPassengerActivity"
            android:label="@string/flight_booking_passenger_toolbar_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".cancellation.presentation.activity.FlightCancellationPassengerActivity"
            android:label="@string/activity_label_flight_cancellation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_flight"
                    android:pathPattern="@string/path_flight_cancel"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cancellation.presentation.activity.FlightCancellationReasonActivity"
            android:label="@string/activity_label_flight_cancellation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".cancellation.presentation.activity.FlightCancellationReviewActivity"
            android:label="@string/activity_label_flight_review_cancellation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify" />
        <activity
            android:name=".cancellation.presentation.activity.FlightCancellationTermsAndConditionsActivity"
            android:label="@string/flight_cancellation_terms_and_condition_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify" />
        <activity
            android:name=".orderdetail.presentation.activity.FlightOrderDetailActivity"
            android:label="@string/flight_order_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_flight"
                    android:pathPattern="@string/path_flight_order_detail"
                    android:scheme="@string/tokopedia_scheme" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_flight"
                    android:path="@string/path_flight_cancel"
                    android:scheme="@string/tokopedia_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".orderdetail.presentation.activity.FlightOrderDetailWebCheckInActivity"
            android:label="@string/flight_order_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify" />
        <activity
            android:name=".orderdetail.presentation.activity.FlightOrderDetailBrowserActivity"
            android:label="@string/flight_order_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify" />
        <activity
            android:name=".cancellation.presentation.activity.FlightCancellationChooseReasonActivity"
            android:label="@string/flight_cancellation_reason_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify" />
        <activity
            android:name=".detail.view.activity.FlightInvoiceActivity"
            android:label="@string/flight_order_invoice_toolbar_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify" />
        <activity
            android:name=".bookingV3.presentation.activity.FlightBookingActivity"
            android:label="@string/flight_booking_toolbar_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify" />
        <activity
            android:name=".cancellationdetail.presentation.activity.FlightOrderCancellationListActivity"
            android:label="@string/flight_cancellation_list_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify" />
        <activity
            android:name=".cancellationdetail.presentation.activity.FlightOrderCancellationDetailActivity"
            android:label="@string/flight_cancellation_list_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify" />
    </application>

</manifest>