<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tokopedia.talk">


    <application android:label="@string/app_name">
        <activity
            android:name=".inboxtalk.activity.InboxTalkActivity"
            android:label="@string/title_product_discussion"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/Theme.White"
            />

        <activity
            android:name=".producttalk.view.activity.TalkProductActivity"
            android:label="@string/title_product_discussion"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/Theme.White"
            />

        <activity
            android:name=".reporttalk.view.activity.ReportTalkActivity"
            android:label="@string/title_report_talk"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.White"
            />
    </application>
</manifest>
