<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.referral">
    <application>
        <activity android:name=".view.activity.ReferralActivity"
            android:theme="@style/Theme.White"/>
        <activity android:name=".view.activity.FriendsWelcomeActivity"
            android:theme="@style/Theme.White"/>
    </application>
</manifest>
