<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.buyerorderdetail">

    <application>
        <activity
            android:name=".presentation.activity.BuyerOrderDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--for testing only-->
                <!--tokopedia://buyer/neworderpage-->
                <data
                    android:host="buyer"
                    android:path="/neworderpage"
                    android:scheme="tokopedia" />
            </intent-filter>
        </activity>
    </application>
</manifest>