<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tokopedia.kol">

    <application>
        <activity android:name=".feature.comment.view.activity.KolCommentActivity"
            android:label="@string/title_comment_kol"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Theme.White"
            />

        <activity
            android:name="com.tokopedia.kol.feature.following_list.view.activity.KolFollowingListActivity"
            android:label="@string/title_following_kol"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Theme.White"/>

        <activity
            android:name=".feature.createpost.view.activity.CreatePostActivity"
            android:label="@string/title_create_post"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Theme.White"/>

        <activity
            android:name=".feature.createpost.view.activity.ImageUploadActivity"
            android:label="@string/title_image_upload"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/Theme.White"/>
    </application>

</manifest>
