<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.kol">

    <application>
        <activity
            android:name=".feature.comment.view.activity.KolCommentActivity"
            android:label="@string/kol_title_comment"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_content"
                    android:pathPattern="@string/path_comment"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.postdetail.view.activity.KolPostDetailActivity"
            android:label="@string/kol_title_post_detail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_content"
                    android:pathPattern="@string/kol_applink_post_detail_path_pattern"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.post.view.activity.KolPostYouTubeActivity"
            android:label="@string/kol_title_post_youtube"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_kol_youtube"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.report.view.activity.ContentReportActivity"
            android:label="@string/kol_title_report"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_content"
                    android:pathPattern="@string/path_content_report"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.video.view.activity.VideoDetailActivity"
            android:label="@string/kol_title_video_detail"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_content"
                    android:pathPattern="@string/path_video_detail"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.video.view.activity.MediaPreviewActivity"
            android:label="@string/kol_title_media_preview"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_content"
                    android:pathPattern="@string/path_media_preview"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>
