<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.tokofood"
    android:versionCode="1"
    android:versionName="1.0.0">

    <application
        android:label="TokoFood Test"
        tools:replace="android:label">
        <activity
            android:name="com.tokopedia.tokofood.stub.postpurchase.presentation.activity.TokoFoodOrderTrackingActivityStub"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>
</manifest>