<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manageaddress">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="com.tokopedia.manageaddress.ui.ManageAddressActivity"
            android:label="@string/label_manage_address"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>