<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.manageaddress">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="com.tokopedia.manageaddress.ui.manageaddress.ManageAddressActivity"
            android:label="@string/label_manage_address"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/host_logistic"
                    android:pathPattern="@string/path_manage_address"
                    android:scheme="@string/internal_scheme" />

            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.manageaddress.ui.addresschoice.CartAddressChoiceActivity"
            android:label="@string/checkout_module_title_activity_shipping_address"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_marketplace"
                    android:path="@string/path_checkout_address_selection"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.shoplocation.ShopLocationActivity"
            android:label="@string/shop_settings_manage_address"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_marketplace"
                    android:pathPattern="@string/path_shop_settings_address"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.shoplocation.shopaddress.ShopSettingsAddressActivity"
            android:label="@string/shop_settings_manage_address"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait" >
        </activity>

        <activity android:name=".ui.shoplocation.shopaddress.ShopSettingAddressAddEditActivity"
            android:label="@string/shop_settings_add_address"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait"/>
    </application>

</manifest>