<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.paylater">

    <application>
        <activity
            android:name="com.tokopedia.paylater.presentation.activity.PaylaterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
        </activity>
    </application>
</manifest>
