<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.shop.score">

    <application
        android:allowBackup="true"
        android:hasCode="true">
        <activity
            android:name="com.tokopedia.shop.score.detail_old.view.activity.ShopScoreDetailActivity"
            android:label="@string/title_shopscore"
            android:theme="@style/Theme.WhiteUnify"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_marketplace"
                    android:path="@string/path_shop_score_detail"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".performance.presentation.activity.ShopPerformancePageActivity"
            android:label="@string/title_shop_performance"
            android:theme="@style/Theme.WhiteUnify"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_marketplace"
                    android:path="@string/path_shop_score_performance"/>
            </intent-filter>
        </activity>

        <activity android:name=".performance.presentation.activity.ShopPerformanceYoutubeActivity"
            android:theme="@style/Theme.White"/>

        <activity
            android:name=".penalty.presentation.activity.ShopPenaltyPageActivity"
            android:label="@string/title_penalty_shop_score"
            android:theme="@style/Theme.WhiteUnify"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_marketplace"
                    android:path="@string/path_shop_penalty"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".penalty.presentation.activity.ShopPenaltyDetailPageActivity"
            android:label="@string/title_penalty_detail_shop_score"
            android:theme="@style/Theme.White"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_marketplace"
                    android:path="@string/path_shop_penalty_detail"/>
            </intent-filter>
        </activity>
    </application>
</manifest>