<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.topchat">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".chatlist.activity.InboxChatActivity"
            android:label="@string/title_inbox_chat"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".chatroom.view.activity.ChatRoomActivity"
            android:label="@string/title_inbox_message"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".chatroom.view.activity.TimeMachineActivity"
            android:label="@string/title_time_machine_message"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".chatroom.view.activity.ChatMarketingThumbnailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".chattemplate.view.activity.TemplateChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chattemplate.view.activity.EditTemplateChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".attachinvoice.view.activity.AttachInvoiceActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".chatroom.view.activity.ChatRoomSettingsActivity"
            android:label="@string/chat_incoming_settings"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".attachproduct.view.activity.BroadcastMessageAttachProductActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>