<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.topchat">

    <application>
        <activity
            android:name="com.tokopedia.topchat.chatsearch.view.activity.ChatSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_marketplace"
                    android:pathPattern="@string/path_chat_search"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chatsetting.view.activity.ChatSettingActivity"
            android:label="@string/title_chat_setting"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ChatSetting">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_marketplace"
                    android:path="@string/path_chat_setting"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chatlist.activity.ChatListActivity"
            android:label="@string/title_inbox_chat"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:path="@string/path_chat"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chattemplate.view.activity.TemplateChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ChatSetting">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_marketplace"
                    android:path="@string/path_chat_template_setting"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chattemplate.view.activity.EditTemplateChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ChatSetting"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".chatroom.view.activity.TopChatRoomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:pathPattern="@string/path_chat_room"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chatroom.view.activity.TopchatReportWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <service
            android:name=".chatroom.service.NotificationChatService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">

            <intent-filter>
                <action android:name="NotificationChatService.REPLY_CHAT" />
            </intent-filter>
        </service>

        <service
            android:name=".chatroom.service.NotificationChatJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".chatroom.service.NotificationChatServiceReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="NotificationChatServiceReceiver.REPLY_CHAT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".chatroom.service.UploadImageChatService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>

    </application>

</manifest>