<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.promocheckoutmarketplace">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="com.tokopedia.promocheckoutmarketplace.presentation.PromoCheckoutActivity"
            android:label="@string/promo_checkout_marketplace_module_title_activity_promo_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_promo"
                    android:path="@string/path_promo_checkout_marketplace"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>
