<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.media.loader">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application>
        <activity android:name=".ui.MediaActivity"
            android:label="Medialoader"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_global"
                    android:path="@string/path_media_catalogue"/>
            </intent-filter>

        </activity>
    </application>

</manifest>