<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.home.account" >
    <application>
        <activity android:name=".presentation.activity.GeneralSettingActivity"
            android:label="@string/label_menu_setting"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_global"
                    android:path="@string/path_general_setting"/>
            </intent-filter>

        </activity>

        <activity android:name=".presentation.activity.AccountHomeActivity"
            android:label="@string/screentitle_account_setting"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_global"
                    android:path="@string/old_home_account"/>
            </intent-filter>
        </activity>

        <activity android:name=".presentation.activity.StoreSettingActivity"
            android:label="@string/screentitle_store_setting"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_marketplace"
                    android:path="@string/path_store_setting"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.activity.AdvancedSettingActivity"
            android:label="@string/title_app_advanced_setting"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_global"
                    android:path="@string/path_advanced_setting"/>
            </intent-filter>
        </activity>

        <activity android:name=".presentation.activity.TkpdPaySettingActivity"
            android:label="@string/screentitle_tkpd_pay_setting"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:path="@string/path_payment_setting"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.activity.AccountSettingActivity"
            android:label="@string/title_account"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:path="@string/path_account_setting"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.activity.MediaQualitySettingActivity"
            android:label="@string/image_quality_setting_screen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_global"
                    android:path="@string/path_image_quality_setting"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
