<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.imagepreview">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:label="@string/app_name">

        <activity android:name="com.tokopedia.imagepreview.ImagePreviewActivity"
            android:theme="@style/Theme.AppCompat.NoTitleBar.Fullscreen"/>

    </application>

</manifest>