<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0.0">
    <application
        android:label="Home Test"
        tools:ignore="HardcodedDebugMode"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:debuggable,android:label"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:debuggable="true">

        <activity
            android:name="com.tokopedia.home.test.activity.HomeActivityTest"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name="com.tokopedia.home.environment.InstrumentationHomeTestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name="com.tokopedia.home.environment.InstrumentationHomeRevampTestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name="com.tokopedia.home.environment.InstrumentationHomeEmptyActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    </application>
</manifest>