<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0.0"
    package="com.tokopedia.home">

    <application
        android:label="Home Test"
        tools:replace="android:label">

        <activity
            android:name=".test.activity.HomeActivityTest"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".environment.InstrumentationHomeTestActivity"/>
    </application>
</manifest>