<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.vouchercreation">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".voucherlist.view.activity.VoucherListActivity"
            android:exported="true"
            android:label="@string/title_voucher_creation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_voucher_list"
                    android:scheme="@string/internal_scheme" />
                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_voucher_list_active"
                    android:scheme="@string/internal_scheme" />
                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_voucher_list_history"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".create.view.activity.CreateMerchantVoucherStepsActivity"
            android:exported="true"
            android:label="@string/title_voucher_creation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_create_voucher"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".detail.view.activity.VoucherDetailActivity"
            android:label="@string/title_voucher_creation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_voucher_detail"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.view.activity.BroadCastChatWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

    </application>
</manifest>
