<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.play">

    <application>
        <activity
            android:name=".view.activity.PlayActivity"
            android:theme="@style/Play.FullScreen"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/host_play"
                    android:pathPattern="@string/path_play_detail"
                    android:scheme="@string/internal_scheme"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
