<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tokopedia.forgotpassword">
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
    <activity
        android:name=".forgotpassword.activity.ForgotPasswordActivity"
        android:label="@string/title_activity_forgot_password"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>
    </application>
</manifest>
