<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.tkpd">

    <uses-sdk tools:overrideLibrary="com.tokopedia.core" />

    <application
        android:name=".ConsumerMainApplication"
        android:allowBackup="true"
        android:icon="@drawable/qc_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tokopedia3.Launcher"
        tools:replace="android:name">
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="d02324f74e70ffcd2dc00ab722d32baecf1884b4" />
        <meta-data
            android:name="APP_ID"
            android:value="@string/key_moengage" />
        <meta-data
            android:name="SENDER_ID"
            android:value="@string/key_sender_id" />
        <meta-data
            android:name="SKIP_GCM_REGISTRATION"
            android:value="true" />

        <activity
            android:name="com.tokopedia.core.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>

                <!-- LOCALYTICS TEST MESSAGE KEY -->
                <data android:scheme="@string/key_localytics_testmessage"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".deeplink.activity.DeepLinkActivity"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_deep_link"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="www.tokopedia.com"
                    android:pathPattern=".*"
                    android:scheme="https"/>
                <data
                    android:host="www.tokopedia.com"
                    android:pathPattern=".*"
                    android:scheme="tkpd"/>
                <data
                    android:host="tokopedia.com"
                    android:pathPattern=".*"
                    android:scheme="https"/>
                <data
                    android:host="m.tokopedia.com"
                    android:pathPattern=".*"
                    android:scheme="https"/>
                <data
                    android:host="www.tokopedia.com"
                    android:pathPrefix="/reset.pl"
                    android:scheme="https"/>
                <data
                    android:host="m.tokopedia.com"
                    android:pathPrefix="/reset.pl"
                    android:scheme="https"/>
                <data
                    android:host="www.tokopedia.com"
                    android:pathPrefix="/activation.pl"
                    android:scheme="https"/>
                <data
                    android:host="m.tokopedia.com"
                    android:pathPrefix="/activation.pl"
                    android:scheme="https"/>
                <data
                    android:host="tokopedia.onelink.me"
                    android:scheme="https"/>
                <data
                    android:host="accounts.tokopedia.com"
                    android:scheme="https" />
                <data
                    android:host="apps.tokopedia.com"
                    android:scheme="http"/>
                <data
                    android:host="apps.tokopedia.com"
                    android:scheme="https"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="LOCALYTICS_APP_KEY"
            android:value="@string/key_localytics" />
        <meta-data
            android:name="GTM_RESOURCE"
            android:resource="@raw/gtm_consumer" />
        <meta-data
            android:name="GTM_ID"
            android:value="@string/key_gtm" />
        <meta-data
            android:name="APPSFLYER_KEY"
            android:value="@string/key_appsflyer" />
        <meta-data
            android:name="com.truecaller.android.sdk.PartnerKey"
            android:value="SjVFHa23dea572b1f4639907d58ccc3bff344" />

        <activity
            android:name=".home.ParentIndexHome"
            android:exported="true"
            android:label="Tokopedia"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".home.SimpleHomeActivity"
            android:label="@string/title_activity_simple_home"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3"/>
        <activity
            android:name=".home.recharge.activity.RechargePaymentWebView"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity android:name=".goldmerchant.GoldMerchantRedirectActivity"
            android:screenOrientation="portrait"
            android:label="@string/label_gold_merchant"/>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProviderOQcSB25ec2f92263c41b5a3d10152ace7888e"
            android:exported="true"/>

        <activity android:name=".deeplink.DeeplinkHandlerActivity"
            android:screenOrientation="portrait" />
        <service
            android:name=".fcm.CustomerMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:name=".truecaller.TruecallerActivity"/>
    </application>

</manifest>