<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.tokopedia.tkpd">

    <uses-sdk tools:overrideLibrary="com.tokopedia.core"
        />


    <application
        tools:replace="android:name"
        android:name="com.tokopedia.tkpd.ConsumerMainApplication"
        android:allowBackup="true"
                 android:icon="@drawable/qc_launcher"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
                 android:theme="@style/Theme.Tokopedia3.Launcher">
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="d02324f74e70ffcd2dc00ab722d32baecf1884b4" />
        <activity
            android:name="com.tokopedia.tkpd.ConsumerSplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <!-- LOCALYTICS TEST MESSAGE KEY -->
                <data android:scheme="ampe5ce78bb486192da7790186-01e0f208-0058-11e5-9b02-00739d24cb30" />

                <!-- DEBUG KEY -->
                <!-- <data android:scheme="ampa4c853a5c07b6acfeb61343-037f3b9e-6591-11e5-bdf6-0013a62af900" /> -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.tkpd.deeplink.activity.DeepLinkActivity"
            android:hardwareAccelerated="true"
            android:label="@string/title_activity_deep_link"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.tokopedia.com"
                    android:pathPattern=".*"
                    android:scheme="https" />
                <data
                    android:host="www.tokopedia.com"
                    android:pathPattern=".*"
                    android:scheme="tkpd" />
                <data
                    android:host="tokopedia.com"
                    android:pathPattern=".*"
                    android:scheme="https" />
                <data
                    android:host="m.tokopedia.com"
                    android:pathPattern=".*"
                    android:scheme="https" />
                <data
                    android:host="www.tokopedia.com"
                    android:pathPrefix="/reset.pl"
                    android:scheme="https" />
                <data
                    android:host="m.tokopedia.com"
                    android:pathPrefix="/reset.pl"
                    android:scheme="https" />
                <data
                    android:host="www.tokopedia.com"
                    android:pathPrefix="/activation.pl"
                    android:scheme="https" />
                <data
                    android:host="m.tokopedia.com"
                    android:pathPrefix="/activation.pl"
                    android:scheme="https" />
                <data
                    android:host="tokopedia.onelink.me"
                    android:scheme="https" />
                <data
                    android:host="accounts.tokopedia.com"
                    android:scheme="https" />
                <data
                    android:host="apps.tokopedia.com"
                    android:scheme="http" />
                <data
                    android:host="apps.tokopedia.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="LOCALYTICS_APP_KEY"
            android:value="e5ce78bb486192da7790186-01e0f208-0058-11e5-9b02-00739d24cb30" />

        <meta-data
            android:name="GTM_RESOURCE"
            android:resource="@raw/gtm_consumer" />

        <meta-data
            android:name="GTM_ID"
            android:value="GTM-P32KTB" />

        <meta-data
            android:name="APPSFLYER_KEY"
            android:value="SdSopxGtYr9yK8QEjFVHXL" />
    </application>

</manifest>
