<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.tokopedia.tkpd">

    <uses-sdk tools:overrideLibrary="com.tokopedia.core"
        />


    <application
        tools:replace="android:name"
        android:name="com.tokopedia.tkpd.ConsumerMainApplication"
        android:allowBackup="true"
                 android:icon="@drawable/qc_launcher"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
                 android:theme="@style/Theme.Tokopedia3.Launcher">
        <activity
            android:name="com.tokopedia.core.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
