<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.expresscheckout">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".view.variant.CheckoutVariantActivity"
            android:label="@string/activity_title_checkout_variant"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.tokopedia.normalcheckout.view.NormalCheckoutActivity"
            android:label="@string/activity_title_checkout_variant"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait"/>

    </application>

</manifest>