<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.tokopedia.digital">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".cart.activity.CartDigitalActivity"
            android:label="@string/title_activity_cart_digital_module"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".product.activity.DigitalProductActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".cart.activity.OtpVerificationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".cart.activity.InstantCheckoutActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".product.activity.DigitalChooserActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".product.activity.DigitalWebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".widget.activity.DigitalCategoryListActivity"
            android:label="@string/title_activity_category_list_digital_module"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".tokocash.activity.ActivateTokoCashActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".tokocash.activity.SuccessActivateTokoCashActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".tokocash.activity.TopUpTokoCashActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".tokocash.activity.HistoryTokocashActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".tokocash.activity.DetailTransactionActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".product.activity.DigitalUssdActivity"/>

        <activity
            android:name=".tokocash.activity.WalletToDepositActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".tokocash.activity.WalletToDepositThanksActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".tokocash.activity.WalletAccountSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".tokocash.activity.HelpHistoryDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".product.activity.DigitalSearchNumberActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".tokocash.activity.WaitingTransactionActivity"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".receiver.TokocashPendingDataBroadcastReceiver"
            android:enabled="true"/>
    </application>

</manifest>
