<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:debuggable="true"
        android:label="User Components"
        tools:replace="android:label"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name="com.tokopedia.usercomponents.userconsent.fakes.FakeUserConsentDebugActivity"/>
        <activity android:name="com.tokopedia.usercomponents.explicit.fake_view.ExplicitDebugActivity"/>
    </application>
</manifest>