<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.usercomponents"
    android:versionCode="1"
    android:versionName="1.0.0">

    <application
        android:debuggable="true"
        android:label="UserComponents"
        tools:ignore="HardcodedDebugMode"
        tools:replace="android:debuggable,android:label">

        <activity
            android:name=".explicit.fake_view.ExplicitDebugActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>
</manifest>