<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.affiliate">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".feature.dashboard.view.activity.DashboardActivity"
            android:label="@string/title_af_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".feature.onboarding.view.activity.UsernameInputActivity"
            android:label="@string/title_af_username"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".feature.onboarding.view.activity.RecommendProductActivity"
            android:label="@string/title_af_tokopedia_byme"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".feature.explore.view.activity.ExploreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".feature.explore.view.activity.FilterActivity"
            android:label="@string/text_title_filter"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".feature.education.view.activity.AffiliateEducationActivity"
            android:label="@string/title_af_tokopedia_byme"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".feature.explore.view.activity.SortActivity"
            android:label="@string/text_button_sort"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".feature.createpost.view.activity.CreatePostActivity"
            android:label="@string/title_af_create_post"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".feature.createpost.view.activity.CreatePostImagePickerActivity"
            android:label="@string/title_af_image_picker"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".feature.createpost.view.activity.CreatePostImageEditorActivity"
            android:label="@string/title_af_image_editor"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".feature.createpost.view.activity.CreatePostExampleActivity"
            android:label="@string/title_af_create_post_example"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".feature.tracking.view.activity.AffiliateTrackingActivity" >
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="tokopedia.me"
                    android:pathPattern="/.*"
                    android:scheme="https" />
                <data
                    android:host="tokopedia.me"
                    android:pathPattern="/.*"
                    android:scheme="http" />
                <data
                    android:host="staging.tokopedia.me"
                    android:pathPattern="/.*"
                    android:scheme="https" />
                <data
                    android:host="staging.tokopedia.me"
                    android:pathPattern="/.*"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>