<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.affiliate">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".feature.dashboard.view.activity.DashboardActivity"
            android:label="@string/title_af_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".feature.onboarding.view.activity.OnboardingActivity"></activity>
    </application>

</manifest>