<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.affiliate">

    <application>
        <activity
            android:name=".feature.dashboard.view.activity.AffiliateDashboardActivity"
            android:label="@string/title_af_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_affiliate"
                    android:path="@string/path_af_dashboard"
                    android:scheme="@string/internal_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.dashboard.view.activity.AffiliateCuratedProductActivity"
            android:label="@string/posted_product"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".feature.dashboard.view.activity.CommissionDetailActivity"
            android:label="@string/title_af_dashboard_detail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".feature.explore.view.activity.ExploreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <intent-filter>

                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/host_affiliate"
                    android:path="@string/path_af_explore"
                    android:scheme="@string/internal_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.explore.view.activity.FilterActivity"
            android:label="@string/text_title_filter"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".feature.education.view.activity.AffiliateEducationActivity"
            android:label="@string/title_af_tokopedia_byme"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>

                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/host_affiliate"
                    android:path="@string/path_af_education"
                    android:scheme="@string/internal_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.explore.view.activity.SortActivity"
            android:label="@string/text_button_sort"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".feature.tracking.view.activity.AffiliateTrackingActivity" >
            <intent-filter android:order="1">
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="@string/host_affiliate"
                    android:pathPattern="@string/path_af_byme_tracking"
                    android:scheme="@string/internal_scheme" />

            </intent-filter>
        </activity>
    </application>

</manifest>
