<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.product.addedit">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".imagepicker.view.activity.ImagePickerAddProductActivity"
            android:label="@string/action_pick_photo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".imagepicker.view.activity.ImagePickerEditPhotoActivity"
            android:label="@string/action_edit_photo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".preview.presentation.activity.AddEditProductPreviewActivity"
            android:label="@string/label_title_add_product"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_merchant"
                    android:path="@string/path_open_product_preview"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>

        </activity>

        <activity
            android:name=".detail.presentation.activity.AddEditProductDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".description.presentation.activity.AddEditProductDescriptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".shipment.presentation.activity.AddEditProductShipmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".variant.presentation.activity.AddEditProductVariantActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".variant.presentation.activity.AddEditProductVariantDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".imagepicker.view.activity.SizechartPickerAddProductActivity"
            android:label="@string/action_pick_photo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".imagepicker.view.activity.SizechartPickerEditPhotoActivity"
            android:label="@string/action_edit_photo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".imagepicker.view.activity.VariantPhotoPickerActivity"
            android:label="@string/action_pick_photo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".imagepicker.view.activity.VariantPhotoEditorActivity"
            android:label="@string/action_edit_photo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <service
            android:name="com.tokopedia.product.addedit.preview.presentation.service.AddEditProductAddService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.tokopedia.product.addedit.preview.presentation.service.AddEditProductEditService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
</manifest>