<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.product.addedit">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".preview.presentation.activity.AddEditProductPreviewActivity"
            android:label="@string/label_title_add_product"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_merchant"
                    android:path="@string/path_open_product_preview"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".draft.presentation.activity.AddEditProductDraftActivity"
            android:label = "@string/label_title_draft_product"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_merchant"
                    android:path="@string/path_product_draft"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>

        </activity>

        <activity
            android:name=".variant.presentation.activity.AddEditProductVariantActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".variant.presentation.activity.AddEditProductVariantDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".category.presentation.activity.AddEditProductCategoryActivity"
            android:label="@string/label_title_category_picker"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_marketplace"
                    android:pathPattern="@string/path_product_category_picker"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".specification.presentation.activity.AddEditProductSpecificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <service
            android:name=".preview.presentation.service.AddEditProductAddService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".preview.presentation.service.AddEditProductEditService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>