<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.selleronboarding">

    <application>
        <activity
            android:name=".activity.SellerOnboardingActivity"
            android:label="@string/title_seller_onboarding"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_welcome"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
    </application>
</manifest>
