<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.report">

    <application>
        <activity android:name=".view.activity.ProductReportActivity"
            android:label="@string/product_report"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_marketplace"
                    android:pathPattern="@string/path_product_report"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.ProductReportFormActivity"
            android:label="@string/product_report"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.ReportInputDetailActivity"
            android:label="@string/detail_report"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait"/>
    </application>
</manifest>