<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.core2"
    android:installLocation="preferExternal">

    <uses-sdk
        tools:overrideLibrary="com.readystatesoftware.chuck" />

    <permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_new_logo"
        android:resizeableActivity="false"
        android:theme="@style/Theme.Tokopedia3">

        <!-- ======================================================= -->
        <!-- META DATA REGISTRY -->
        <!-- ======================================================= -->
        <meta-data
            android:name="com.tkpd.library.utils.TkpdGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".BrowseCategory" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_API_KEY" />
        <meta-data
            android:name="HANSEL_APP_ID"
            android:value="JM8LWF8S5B951JQOAZAFRNX14"/>
        <meta-data
            android:name="HANSEL_APP_KEY"
            android:value="8CDH74MC9EZLPFIHNNJPT39ERKS5BODETYX2LBFQ83ECSV86WY"/>
        <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->
        <!-- <meta-data android:name="AF_PRE_INSTALL_NAME" android:value="ADVAN_TOKOPEDIA"/> -->


        <!-- ======================================================= -->
        <!-- ACTIVITIES REGISTRY -->
        <!-- ======================================================= -->

        <activity
            android:name="com.facebook.react.devsupport.DevSettingsActivity"
            android:label="com.tokopedia.tkpd:string/app_name" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.tokopedia.core.ViewShopNotes"
            android:label="@string/title_shop_notes"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.ShopLocation"
            android:label="@string/title_activity_shop_location"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.manage.people.address.activity.AddAddressActivity"
            android:label="@string/title_activity_add_address"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.manage.people.address.activity.ChooseAddressActivity"
            android:label="@string/title_activity_choose_address"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tokopedia.core.ManagePeople"
            android:label="@string/title_activity_manage_people"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.manage.people.notification.activity.ManageNotificationActivity"
            android:label="@string/title_activity_manage_notification"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.peoplefave.activity.PeopleFavoritedShop"
            android:label="@string/title_activity_people_favorited_shop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.seller.OrderHistoryView"
            android:label="@string/title_activity_order_history_view"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.PreviewProductImage"
            android:label="@string/title_activity_preview_product_image"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.tokopedia.core.SettingsNotification"
            android:label="@string/title_activity_settings_notification"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity" />
        <activity
            android:name="com.tokopedia.core.MaintenancePage"
            android:label="@string/title_activity_maintenance_page"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.ServerErrorPage"
            android:label="@string/title_activity_server_error_page"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.ManageGeneral"
            android:label="@string/title_activity_manage_general"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.ForceUpdate"
            android:label="@string/title_activity_force_update"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.ReviewForm"
            android:label="Ulasan anda"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.invoice.activity.InvoiceRendererActivity"
            android:label="@string/title_activity_download_invoice" />
        <activity
            android:name="com.tokopedia.core.tracking.activity.TrackingActivity"
            android:label="Tracking"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.DeveloperOptions"
            android:label="@string/title_activity_developer_options"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.TermPrivacy"
            android:label="@string/title_activity_term_and_privacy"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="launch.TermPrivacy" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.core.ShopStatisticDetail"
            android:label="@string/title_activity_shop_statistic_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.loyaltysystem.LoyaltyDetail"
            android:label="@string/title_activity_loyalty_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.home.BannerWebView"
            android:label="@string/title_activity_deep_link"
            android:theme="@style/Toolbar.White"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.home.TopPicksWebView"
            android:label="@string/title_activity_top_picks"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.geolocation.activity.GeolocationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/choose_location"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.shopinfo.ShopNotesDetail"
            android:label="@string/title_activity_shop_notes_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.shopinfo.ShopInfoMore"
            android:label="Informasi Toko"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.share.ShareActivity"
            android:label="@string/title_activity_share"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.onboarding.FreeReturnOnboardingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.home.BrandsWebViewActivity"
            android:label="@string/title_official_store"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.home.SimpleWebViewWithFilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/Toolbar.White"
            android:screenOrientation="portrait" />

        <!-- ======================================================= -->
        <!-- RECEIVERS REGISTRY -->
        <!-- ======================================================= -->
        <activity
            android:name="com.tokopedia.core.manage.people.profile.activity.ManagePeopleProfileActivity"
            android:label="@string/title_activity_manage_people_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.manage.people.address.activity.ManagePeopleAddressActivity"
            android:label="@string/title_activity_manage_people_address"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.manage.general.ManageWebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.seller.opportunity.snapshot.SnapShotProduct"
            android:label="@string/title_activity_snapshot"
            android:screenOrientation="portrait" />

        <!-- ======================================================= -->
        <!-- RECEIVERS REGISTRY -->
        <!-- ======================================================= -->
        <receiver
            android:name="com.tokopedia.core.InstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>

            <meta-data
                android:name="forward.Kochava"
                android:value="com.kochava.android.tracker.ReferralCapture" />
        </receiver>

        <!-- ======================================================= -->
        <!-- SERVICES REGISTRY -->
        <!-- ======================================================= -->
        <service
            android:name="com.tokopedia.core.manage.people.profile.intentservice.ManagePeopleProfileIntentService"
            android:exported="false" />
        <service android:name="com.tokopedia.core.service.HUDIntent" />
        <service
            android:name="com.tokopedia.core.product.intentservice.ProductInfoIntentService"
            android:exported="false" > </service>
        <service
            android:name="com.tokopedia.core.service.DownloadService"
            android:exported="false" />

        <!-- ======================================================= -->
        <!-- PROVIDERS REGISTRY -->
        <!-- ======================================================= -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>