<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.core"
    android:installLocation="preferExternal">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="25"
        tools:overrideLibrary="com.readystatesoftware.chuck" />

    <permission
        android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_CALL_LOG"/>

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/qc_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_new_logo"
        android:resizeableActivity="false"
        android:theme="@style/Theme.Tokopedia3">

        <!-- ======================================================= -->
        <!-- META DATA REGISTRY -->
        <!-- ======================================================= -->
        <meta-data
            android:name="AA_MODELS"
            android:value="" />
        <meta-data
            android:name="com.tkpd.library.utils.TkpdGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".BrowseCategory" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_API_KEY" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="d02324f74e70ffcd2dc00ab722d32baecf1884b4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="@string/BRANCH_SDK_KEY" />
        <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->
        <!-- <meta-data android:name="AF_PRE_INSTALL_NAME" android:value="ADVAN_TOKOPEDIA"/> -->


        <!-- ======================================================= -->
        <!-- ACTIVITIES REGISTRY -->
        <!-- ======================================================= -->
        <activity
            android:name="com.google.android.gms.tagmanager.PreviewActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"> <!-- optional, removes the previewActivity from the activity stack. -->
            <intent-filter>
                <data android:scheme="tagmanager.c.com.tokopedia.tkpd" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.react.devsupport.DevSettingsActivity"
            android:label="com.tokopedia.tkpd:string/app_name" />
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewShopNotes"
            android:label="@string/title_shop_notes"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.ParentIndexHome"
            android:exported="true"
            android:label="Tokopedia"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ShopStatistic"
            android:label="@string/title_activity_shop_statistic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShopLocation"
            android:label="@string/title_activity_shop_location"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manage.people.address.activity.AddAddressActivity"
            android:label="@string/title_activity_add_address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manage.people.address.activity.ChooseAddressActivity"
            android:label="@string/title_activity_choose_address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manage.general.districtrecommendation.view.DistrictRecommendationActivity"
            android:label="@string/title_activity_search_address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManagePeople"
            android:label="@string/title_activity_manage_people"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manage.people.notification.activity.ManageNotificationActivity"
            android:label="@string/title_activity_manage_notification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manage.people.bank.activity.ManagePeopleBankActivity"
            android:label="@string/title_activity_manage_people_bank"
            android:screenOrientation="portrait" />
        <activity
            android:name=".peoplefave.activity.PeopleFavoritedShop"
            android:label="@string/title_activity_people_favorited_shop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".deposit.activity.DepositActivity"
            android:label="@string/title_activity_people_deposit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".deposit.activity.WithdrawActivity"
            android:label="@string/title_activity_people_withdraw_balance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".com.tokopedia.seller.OrderHistoryView"
            android:label="@string/title_activity_order_history_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreviewProductImage"
            android:label="@string/title_activity_preview_product_image"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoTitleBar.Fullscreen" />
        <activity
            android:name=".talk.talkproduct.activity.TalkAddNew"
            android:label="@string/title_activity_talk_add_new"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsNotification"
            android:label="@string/title_activity_settings_notification"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".MaintenancePage"
            android:label="@string/title_activity_maintenance_page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServerErrorPage"
            android:label="@string/title_activity_server_error_page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ManageGeneral"
            android:label="@string/title_activity_manage_general"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForceUpdate"
            android:label="@string/title_activity_force_update"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageGallery"
            android:label="@string/title_activity_imagge_gallery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReviewForm"
            android:label="Ulasan anda"
            android:screenOrientation="portrait" />
        <activity
            android:name=".invoice.activity.InvoiceRendererActivity"
            android:label="@string/title_activity_download_invoice" />
        <activity
            android:name=".GalleryBrowser"
            android:label="@string/title_activity_gallery_browser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tracking.activity.TrackingActivity"
            android:label="Tracking"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeveloperOptions"
            android:label="@string/title_activity_developer_options"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TermPrivacy"
            android:label="@string/title_activity_term_and_privacy"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="launch.TermPrivacy" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShopStatisticDetail"
            android:label="@string/title_activity_shop_statistic_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopinfo.activity.ShopFavoritedActivity"
            android:label="@string/title_activity_shop_detail_favorited"
            android:screenOrientation="portrait" />
        <activity
            android:name=".loyaltysystem.LoyaltyDetail"
            android:label="@string/title_activity_loyalty_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.BannerWebView"
            android:label="@string/title_activity_deep_link"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.TopPicksWebView"
            android:label="@string/title_activity_top_picks"
            android:screenOrientation="portrait" />
        <activity
            android:name=".geolocation.activity.GeolocationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/choose_location"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.tkpd.home.SimpleHomeActivity"
            android:label="@string/title_activity_simple_home"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".shopinfo.ShopInfoActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name=".shopinfo.ShopNotesDetail"
            android:label="@string/title_activity_shop_notes_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopinfo.ShopInfoMore"
            android:label="Informasi Toko"
            android:screenOrientation="portrait" />
        <activity
            android:name=".talk.talkproduct.activity.TalkProductActivity"
            android:label="@string/title_talk"
            android:screenOrientation="portrait" />
        <activity
            android:name=".talkview.activity.TalkViewActivity"
            android:label="@string/title_talk"
            android:screenOrientation="portrait" />
        <activity
            android:name=".share.ShareActivity"
            android:label="@string/title_activity_share"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboarding.FreeReturnOnboardingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity android:name="com.tokopedia.sellerapp.welcome.WelcomeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".msisdn.activity.MsisdnActivity"
            android:label="@string/title_msisdn"
            android:parentActivityName=".session.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.BrandsWebViewActivity"
            android:label="@string/title_official_store"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.tkpdreactnative.react.app.ReactNativeActivity"
            android:label="@string/title_official_store"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.home.SimpleWebViewWithFilePickerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.home.SimpleWebViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <!-- ======================================================= -->
        <!-- RECEIVERS REGISTRY -->
        <!-- ======================================================= -->
        <activity
            android:name=".manage.people.profile.activity.ManagePeopleProfileActivity"
            android:label="@string/title_activity_manage_people_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manage.people.address.activity.ManagePeopleAddressActivity"
            android:label="@string/title_activity_manage_people_address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".people.activity.PeopleInfoDrawerActivity"
            android:label="@string/title_activity_people"
            android:screenOrientation="portrait" />
        <activity
            android:name=".people.activity.PeopleInfoNoDrawerActivity"
            android:label="@string/title_activity_people"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manage.people.password.activity.ManagePasswordActivity"
            android:label="@string/title_activity_manage_people_password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".manage.general.ManageWebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newgallery.GalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.seller.opportunity.snapshot.SnapShotProduct"
            android:label="@string/title_activity_snapshot"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gallery.GalleryActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".apprating.nps.FeedbackActivity"
            android:screenOrientation="portrait"
            android:label="@string/fb_app_title"/>

        <activity android:name=".apprating.nps.FeedbackThankPageActivity"
            android:screenOrientation="portrait"
            android:label="@string/fb_app_title"/>

        <!-- ======================================================= -->
        <!-- RECEIVERS REGISTRY -->
        <!-- ======================================================= -->
        <receiver
            android:name=".InstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>

            <meta-data
                android:name="forward.Kochava"
                android:value="com.kochava.android.tracker.ReferralCapture" />
        </receiver>
        <receiver android:name=".msisdn.IncomingSmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- ======================================================= -->
        <!-- SERVICES REGISTRY -->
        <!-- ======================================================= -->
        <service
            android:name=".inboxreputation.intentservice.InboxReviewIntentService"
            android:exported="false" />
        <service
            android:name=".manage.people.profile.intentservice.ManagePeopleProfileIntentService"
            android:exported="false" />
        <service android:name=".service.HUDIntent" />
        <service android:name=".gcm.FCMInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".gcm.BaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.intentservices.PushNotificationIntentService"
            android:exported="false" />
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <service
            android:name=".service.DownloadService"
            android:exported="false" />
        <service
            android:name=".talkview.intentservice.TalkViewIntentService"
            android:exported="false" />
        <service
            android:name=".manage.people.address.service.ManagePeopleAddressService"
            android:exported="false" />
        <service
            android:name=".product.intentservice.ProductInfoIntentService"
            android:exported="false" />
        <service
            android:name=".talkview.intentservice.TalkDetailIntentService"
            android:exported="false" />
        <service
            android:name=".talk.talkproduct.intentservice.TalkAddNewIntentService"
            android:exported="false" />
        <service
            android:name=".manage.people.bank.intentservice.ManagePeopleBankIntentService"
            android:exported="false" />
        <service
            android:name=".manage.people.password.intentservice.ManagePasswordIntentService"
            android:exported="false" />

        <!-- ======================================================= -->
        <!-- PROVIDERS REGISTRY -->
        <!-- ======================================================= -->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".referral.ReferralActivity" />
        <activity android:name=".onboarding.NewOnboardingActivity"></activity>
        <activity android:name=".referral.FriendsWelcomeActivity" />
    </application>

</manifest>