<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.core"
    android:installLocation="preferExternal">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="24" />


    <permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        tools:node="remove" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/qc_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_new_logo"
        android:theme="@style/Theme.Tokopedia3.Launcher">

        <!-- ======================================================= -->
        <!-- META DATA REGISTRY -->
        <!-- ======================================================= -->
        <meta-data
            android:name="AA_MODELS"
            android:value="" />
        <meta-data
            android:name="com.tkpd.library.utils.TkpdGlideModule"
            android:value="GlideModule" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".BrowseCategory" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_API_KEY" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="d02324f74e70ffcd2dc00ab722d32baecf1884b4" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="528b17702bf941a581f15e188677306b " />
        <!-- DEBUG KEY -->
        <!-- <meta-data -->
        <!-- android:name="LOCALYTICS_APP_KEY" -->
        <!-- android:value="a4c853a5c07b6acfeb61343-037f3b9e-6591-11e5-bdf6-0013a62af900" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->
        <!-- <meta-data android:name="AF_PRE_INSTALL_NAME" android:value="ADVAN_TOKOPEDIA"/> -->


        <!-- ======================================================= -->
        <!-- ACTIVITIES REGISTRY -->
        <!-- ======================================================= -->
        <activity
            android:name="com.google.android.gms.tagmanager.PreviewActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"> <!-- optional, removes the previewActivity from the activity stack. -->
            <intent-filter>
                <data android:scheme="tagmanager.c.com.tokopedia.tkpd" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.core.myproduct.ProductActivity"
            android:label="@string/title_activity_add_product"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tkpdevel.com"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.core.onboarding.OnboardingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tokopedia.core.ViewShopNotes"
            android:label="@string/title_shop_notes"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.home.ParentIndexHome"
            android:exported="true"
            android:label="Tokopedia"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.tokopedia.core.ShopStatistic"
            android:label="@string/title_activity_shop_statistic"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.ShopLocation"
            android:label="@string/title_activity_shop_location"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.myproduct.ManageProduct"
            android:label="@string/title_activity_manage_product"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.tokopedia.core.manage.people.address.activity.AddAddressActivity"
            android:label="@string/title_activity_add_address"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.manage.people.address.activity.ChooseAddressActivity"
            android:label="@string/title_activity_choose_address"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.Cart"
            android:label="@string/title_activity_cart"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.tokopedia.core.EditAddressCart"
            android:label="@string/title_activity_cart"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.ManageShop"
            android:label="@string/title_activity_manage_shop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.manage.shop.notes.activity.ManageShopNotesActivity"
            android:label="@string/title_activity_manage_shop_notes"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.shipping.EditShippingActivity"
            android:label="@string/shop_shipping_setting"
            android:screenOrientation="portrait">
            <intent-filter tools:ignore="GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="ANDROID.INTENT.CATEGORY.BROWSABLE" />

                <data
                    android:host="com.tokopedia.tkpd"
                    android:pathPrefix="/myshop-editor.pl"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.core.EtalaseShopEditor"
            android:label="@string/title_activity_etalase_shop_editor"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.inboxmessage.activity.SendMessageActivity"
            android:label="@string/title_activity_send_message"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="com.tokopedia.core.ShopEditor"
            android:label="@string/title_activity_shop_editor"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.PaymentEditor"
            android:label="@string/title_activity_payment_editor"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.ManageShopAddress"
            android:label="@string/title_activity_manage_shop_address"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.ShopAddressForm"
            android:label="@string/title_activity_shop_address_form"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.ManagePeople"
            android:label="@string/title_activity_manage_people"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.ManagePrivacy"
            android:label="@string/title_activity_manage_privacy"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.manage.people.notification.activity.ManageNotificationActivity"
            android:label="@string/title_activity_manage_notification"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.manage.people.bank.activity.ManagePeopleBankActivity"
            android:label="@string/title_activity_manage_people_bank"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.peoplefave.activity.PeopleFavoritedShop"
            android:label="@string/title_activity_people_favorited_shop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.ManagePeoplePassword"
            android:label="@string/title_activity_manage_people_password"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.deposit.activity.DepositActivity"
            android:label="@string/title_activity_people_deposit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.deposit.activity.WithdrawActivity"
            android:label="@string/title_activity_people_withdraw_balance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.PaymentConfirmationSuccess"
            android:label="@string/title_activity_payment_confirmation_success"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.com.tokopedia.seller.OrderHistoryView"
            android:label="@string/title_activity_order_history_view"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.PreviewProductImage"
            android:label="@string/title_activity_preview_product_image"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.tokopedia.core.NotificationCenter"
            android:label="@string/title_notification"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.talk.talkproduct.activity.TalkAddNew"
            android:label="@string/title_activity_talk_add_new"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.SettingsNotification"
            android:label="@string/title_activity_settings_notification"
            android:screenOrientation="portrait" />
        <activity
            android:name="info.vividcode.android.zxing.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.core.MaintenancePage"
            android:label="@string/title_activity_maintenance_page"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.ServerErrorPage"
            android:label="@string/title_activity_server_error_page"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.ManageGeneral"
            android:label="@string/title_activity_manage_general"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.product.activity.ProductInfoActivity"
            android:label="@string/title_activity_product_info"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.ForceUpdate"
            android:label="@string/title_activity_force_update"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.ImageGallery"
            android:label="@string/title_activity_imagge_gallery"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.ReviewForm"
            android:label="Ulasan anda"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.invoice.activity.InvoiceRendererActivity"
            android:label="@string/title_activity_download_invoice" />
        <activity
            android:name="com.tokopedia.core.GalleryBrowser"
            android:label="@string/title_activity_gallery_browser"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.inboxmessage.activity.InboxMessageActivity"
            android:label="@string/title_inbox_message"
            android:parentActivityName="com.tokopedia.core.home.ParentIndexHome"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name="com.tokopedia.core.inboxmessage.activity.InboxMessageDetailActivity"
            android:label="@string/title_inbox_message"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.tokopedia.core.tracking.activity.TrackingActivity"
            android:label="Tracking"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.DeveloperOptions"
            android:label="@string/title_activity_developer_options"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.BuyCredit"
            android:label="@string/title_activity_buy_credit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.BuyCreditCart"
            android:label="@string/title_activity_buy_credit_cart"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.CreditCardActivity"
            android:label="@string/title_activity_credit_card"
            android:screenOrientation="portrait" />
        <activity android:name="com.localytics.android.PushTrackingActivity" />
        <activity
            android:name="com.tokopedia.core.TermPrivacy"
            android:label="@string/title_activity_term_and_privacy"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="launch.TermPrivacy" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.core.inboxreputation.activity.InboxReputationActivity"
            android:label="@string/title_activity_reputation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.inboxreputation.activity.InboxReputationDetailActivity"
            android:label="@string/title_activity_reputation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.reputationproduct.ReputationProduct"
            android:label="@string/title_activity_reputation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.ShopStatisticDetail"
            android:label="@string/title_activity_shop_statistic_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.reputationproduct.ReputationProductView"
            android:label="@string/title_activity_reputation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.shopinfo.ReputationViewShop"
            android:label="@string/title_activity_reputation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.shopinfo.activity.ShopFavoritedActivity"
            android:label="@string/title_activity_shop_detail_favorited"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.loyaltysystem.LoyaltyDetail"
            android:label="@string/title_activity_loyalty_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.home.BannerWebView"
            android:label="@string/title_activity_deep_link"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.geolocation.activity.GeolocationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/choose_location"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.home.SimpleHomeActivity"
            android:label="@string/title_activity_simple_home"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name="com.tokopedia.core.shopinfo.ShopInfoActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustNothing" />
        <activity
            android:name="com.tokopedia.core.shopinfo.ShopNotesDetail"
            android:label="@string/title_activity_shop_notes_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.shopinfo.ShopInfoMore"
            android:label="Informasi Toko"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.talk.talkproduct.activity.TalkProductActivity"
            android:label="@string/title_talk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.talkview.activity.TalkViewActivity"
            android:label="@string/title_talk"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.talk.inboxtalk.activity.InboxTalkActivity"
            android:label="@string/title_activity_inbox_talk"
            android:screenOrientation="portrait" />
        <activity
            android:name="RechargePaymentWebView"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.share.ShareActivity"
            android:label="@string/title_activity_share"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.onboarding.FreeReturnOnboardingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tokopedia.core.shipping.OpenShopEditShipping"
            android:label="@string/title_open_shop" />
        <activity
            android:name="com.tokopedia.core.shop.ShopEditorActivity"
            android:label="@string/shop_setting"
            android:theme="@style/ShopAppTheme" />



        <activity
            android:name="com.tokopedia.core.topads.WebViewTopAdsActivity"
            android:theme="@style/Theme.BrowseProduct" />

        <activity android:name="com.tokopedia.core.welcome.WelcomeActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".msisdn.activity.MsisdnActivity"
            android:label="@string/title_msisdn"
            android:parentActivityName=".session.Login"
            android:screenOrientation="portrait" />

        <!--=======================================================-->
        <!--RECEIVERS REGISTRY-->
        <!--=======================================================-->
        <activity
            android:name="com.tokopedia.core.manage.people.profile.activity.ManagePeopleProfileActivity"
            android:label="@string/title_activity_manage_people_profile"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tokopedia.core.manage.people.address.activity.ManagePeopleAddressActivity"
            android:label="@string/title_activity_manage_people_address"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tokopedia.core.people.activity.PeopleInfoDrawerActivity"
            android:label="@string/title_activity_people"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.tokopedia.core.people.activity.PeopleInfoNoDrawerActivity"
            android:label="@string/title_activity_people"
            android:screenOrientation="portrait" />

        <activity android:name=".manage.people.password.activity.ManagePasswordActivity"
            android:label="@string/title_activity_manage_people_password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!--=======================================================-->
        <!--RECEIVERS REGISTRY-->
        <!--=======================================================-->
        <receiver
            android:name="com.tokopedia.core.InstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>

            <meta-data
                android:name="forward.Kochava"
                android:value="com.kochava.android.tracker.ReferralCapture" />
        </receiver>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.tokopedia.tkpd" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.tokopedia.core.service.ErrorNetworkReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.tokopedia.tkpd.FORCE_LOGOUT" />
                <action android:name="com.tokopedia.tkpd.SERVER_ERROR" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.tokopedia.core.msisdn.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- ======================================================= -->
        <!-- SERVICES REGISTRY -->
        <!-- ======================================================= -->
        <service
            android:name="com.tokopedia.core.inboxreputation.intentservice.InboxReviewIntentService"
            android:exported="false" />
        <service
            android:name="com.tokopedia.core.manage.people.profile.intentservice.ManagePeopleProfileIntentService"
            android:exported="false" />
        <service android:name="com.tokopedia.core.service.HUDIntent" />
        <service
            android:name="com.tokopedia.core.GCMListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <service
            android:name="com.tokopedia.core.service.DownloadService"
            android:exported="false" />
        <service
            android:name="com.tokopedia.core.talkview.intentservice.TalkViewIntentService"
            android:exported="false" />
        <service
            android:name="com.tokopedia.core.myproduct.service.ProductService"
            android:exported="false" />

        <activity
            android:name="com.tokopedia.core.myproduct.ProductSocMedActivity"
            android:label="Add Product Social Media"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />

        <service
            android:name="com.tokopedia.core.service.HadesService"
            android:exported="false" />

        <service
            android:name="com.tokopedia.core.payment.services.PaymentIntentService"
            android:exported="false" />

        <service
            android:name="com.tokopedia.core.manage.people.address.service.ManagePeopleAddressService"
            android:exported="false" />
        <service
            android:name="com.tokopedia.core.inboxmessage.intentservice.InboxMessageIntentService"
            android:exported="false" />
        <service
            android:name="com.localytics.android.GcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.localytics.android.InstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="com.tokopedia.core.product.intentservice.ProductInfoIntentService"
            android:exported="false" />
        <service
            android:name="com.tokopedia.core.talk.inboxtalk.intentservice.InboxTalkIntentService"
            android:exported="false" />
        <service
            android:name="com.tokopedia.core.talkview.intentservice.TalkDetailIntentService"
            android:exported="false" />
        <service
            android:name="com.tokopedia.core.talk.talkproduct.intentservice.TalkAddNewIntentService"
            android:exported="false" />
        <service
            android:name=".manage.people.bank.intentservice.ManagePeopleBankIntentService"
            android:exported="false" />
        <service
            android:name=".manage.people.password.intentservice.ManagePasswordIntentService"
            android:exported="false" />



        <!-- ======================================================= -->
        <!-- PROVIDERS REGISTRY -->
        <!-- ======================================================= -->

    </application>

</manifest>
