<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0.0"
    package="com.tokopedia.officialstore">

    <application
        android:label="Official Store Test"
        tools:replace="android:label"
        android:hardwareAccelerated="true"
        android:largeHeap="true">
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".environment.InstrumentationOfficialStoreTestActivity"/>
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".environment.InstrumentationOfficialStoreTestFullActivity"/>
    </application>
</manifest>