<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.mvc">

    <application>
        <activity
            android:name=".presentation.product.list.ProductListActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".presentation.list.MvcListActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify" />
        <activity
            android:name=".presentation.product.add.AddProductActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
        </activity>
    </application>

</manifest>