<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.seller_mvc_creation">

    <application>
        <activity
            android:name="com.tokopedia.mvc.presentation.detail.VoucherDetailActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.tokopedia.mvc.presentation.product.add.AddProductActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:label="@string/smvc_add_product"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"></activity>
    </application>

</manifest>