<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.tkpd">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.tokopedia.application.MyApplication"
        android:allowBackup="true"
        android:label="@string/testapp_name"
        android:supportsRtl="true"
        tools:replace="label"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="d02324f74e70ffcd2dc00ab722d32baecf1884b4"
            tools:replace="android:value"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCRkgwGBe8ZxjcK07Cnl3Auf72BpgA6lLo" />

    </application>

</manifest>