<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.buyerorder">

    <application>
        <activity
            android:name=".detail.revamp.activity.SeeInvoiceActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_order"
                    android:path="@string/path_invoice"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".detail.revamp.activity.RevampOrderListWebViewActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".detail.view.activity.OrderListwebViewActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".detail.revamp.activity.RevampOrderListDetailActivity"
            android:label="@string/title_order_detail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify" />
        <activity
            android:name=".recharge.presentation.activity.RechargeOrderDetailActivity"
            android:label="@string/title_order_detail"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_digital"
                    android:path="@string/path_order"
                    android:scheme="@string/internal_scheme" />
                <data
                    android:host="@string/host_order"
                    android:path=""
                    android:scheme="@string/internal_scheme"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
        </activity>
    </application>
</manifest>