<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.home_account">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".account_settings.presentation.activity.TkpdPaySettingActivity"
            android:exported="false"
            android:label="@string/screentitle_tkpd_pay_setting"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_user"
                    android:path="@string/path_payment_setting"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".account_settings.presentation.activity.AccountSettingActivity"
            android:exported="false"
            android:label="@string/menu_account_title_security"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_user"
                    android:path="@string/path_account_setting"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".account_settings.presentation.activity.MediaQualitySettingActivity"
            android:exported="false"
            android:label="@string/image_quality_setting_screen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_user"
                    android:path="@string/path_image_quality_setting"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.HomeAccountUserActivity"
            android:label="@string/home_account_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_user"
                    android:pathPattern="@string/path_new_home_account"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.FundsAndInvestmentActivity"
            android:label="@string/home_account_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_user"
                    android:pathPattern="@string/path_funds_and_investment"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:label="Link Account"
            android:name=".privacy_account.view.LinkAccountWebViewActivity"
            android:theme="@style/Theme.White"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_user"
                    android:pathPattern="@string/path_link_account_webview"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/label_link_account"
            android:name="com.tokopedia.home_account.privacy_account.view.LinkAccountActivity"
            android:theme="@style/Theme.White"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_user"
                    android:pathPattern="@string/path_link_account"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".explicitprofile.features.ExplicitProfileActivity"
            android:label="Preferensi Belanja"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_user"
                    android:pathPattern="@string/path_explicit_profile"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".privacy_account.view.PrivacyAccountActivity"
            android:label="@string/title_privacy_account"
            android:theme="@style/Theme.WhiteUnify"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_user"
                    android:pathPattern="@string/path_privacy_account"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".consentWithdrawal.ui.ConsentWithdrawalActivity"
            android:label="Consent Withdrawal"
            android:theme="@style/Theme.WhiteUnify"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_user"
                    android:pathPattern="@string/path_consent_withdrawal"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>

        </activity>
    </application>
</manifest>