<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.ride">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".bookingride.view.activity.RideHomeActivity"
            android:theme="@style/AppTheme.Ride.NoActionBar">
           <!-- <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>-->
        </activity>
        <activity
            android:name=".bookingride.view.activity.GooglePlacePickerActivity"
            android:theme="@style/AppTheme.Ride.NoActionBar" />
        <activity
            android:name=".ontrip.view.OnTripActivity"
            android:theme="@style/AppTheme.Ride.NoActionBar" />
        <activity
            android:name=".completetrip.view.CompleteTripActivity"
            android:theme="@style/AppTheme.Ride.NoActionBar" />
        <activity android:name=".bookingride.view.activity.RideWebViewActivity" />
        <activity
            android:name=".history.view.RideHistoryActivity"
            android:theme="@style/AppTheme.Ride.NoActionBar" />
        <activity
            android:name=".history.view.RideHistoryDetailActivity"
            android:theme="@style/AppTheme.Ride.NoActionBar" />
        <activity
            android:name=".bookingride.view.activity.ApplyPromoActivity"
            android:theme="@style/AppTheme.Ride.NoActionBar" />
        <activity
            android:name=".history.view.RideHistoryNeedHelpActivity"
            android:theme="@style/AppTheme.Ride.NoActionBar" />

        <receiver
            android:name=".ontrip.receiver.CallDriverReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.tkpd.calldriver" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ontrip.receiver.ShareEtaReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.tkpd.shareeta" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ontrip.view.SendCancelReasonActivity"
            android:theme="@style/AppTheme.Ride.NoActionBar" />
        <activity
            android:name=".completetrip.view.PendingFareChooserActivity"
            android:theme="@style/AppTheme.Ride.NoActionBar" />
        <activity
            android:name=".ontrip.view.TopupTokoCashChangeDestination"
            android:theme="@style/AppTheme.Ride.NoActionBar" />
        <activity
            android:name=".bookingride.view.activity.AddCreditCardActivity"
            android:theme="@style/AppTheme.Ride.NoActionBar" />
        <activity
            android:name=".bookingride.view.activity.ManagePaymentOptionsActivity"
            android:theme="@style/AppTheme.Ride.NoActionBar" />
        <activity
            android:name=".bookingride.view.activity.EditDeleteCreditCardActivity"
            android:theme="@style/AppTheme.Ride.NoActionBar" />

        <service android:name=".ontrip.view.service.ActivityRecognizedService" />

        <activity
            android:name=".scrooge.ScroogeActivity"
            android:theme="@style/AppTheme.Ride.NoActionBar" />
        <activity
            android:name=".bookingride.view.activity.PayPendingFareActivity"
            android:theme="@style/AppTheme.Ride.NoActionBar"></activity>
    </application>

</manifest>