<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.mediauploader">

    <application
        android:allowBackup="true"
        android:label="@string/app_name">

        <receiver
            android:name=".services.UploaderReceiver"
            android:enabled="true"/>

        <activity
            android:name=".MediaUploaderActivity"
            android:label="MediaUploader"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            >

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="tokopedia-internal-app"
                    android:host="media"
                    android:path="/uploader"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
