<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.tokomember_seller_dashboard">

    <application>
        <activity android:name=".view.activity.TokomemberMemberListActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/host_sellerapp"
                    android:pathPattern="@string/path_tokomember_member_list"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity  android:name=".view.activity.TokomemberMainActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/host_sellerapp"
                    android:pathPattern="@string/path_tokomember"
                    android:scheme="@string/internal_scheme" />

                <data
                    android:host="@string/host_sellerapp"
                    android:pathPattern="/tokomember/program-extension/.*"
                    android:scheme="@string/internal_scheme" />

                <data
                    android:host="@string/host_sellerapp"
                    android:pathPattern="/tokomember/program-list"
                    android:scheme="@string/internal_scheme" />

                <data
                    android:host="@string/host_sellerapp"
                    android:pathPattern="/tokomember/program-creation"
                    android:scheme="@string/internal_scheme" />

                <data
                    android:host="@string/host_sellerapp"
                    android:pathPattern="/tokomember/coupon-list"
                    android:scheme="@string/internal_scheme" />

                <data
                    android:host="@string/host_sellerapp"
                    android:pathPattern="/tokomember/coupon-creation"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.TokomemberDashIntroActivity"
            android:label=""
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.TokomemberDashHomeActivity"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.TmDashCreateActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.TokomemberDashProgramDetailActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>