<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0.0">

    <application
        android:label="PDP Test"
        tools:replace="android:label">

        <activity
            android:name="com.tokopedia.product.detail.presentation.InstrumentTestProductDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name="com.tokopedia.product.detail.ProductDetailActivityCommonTest"
            android:theme="@style/Theme.White"/>

        <activity
            android:name="com.tokopedia.product.detail.ui.base.ProductDetailActivityMock"
            android:theme="@style/Theme.White"/>
    </application>
</manifest>