<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.common.topupbills" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="com.tokopedia.common.topupbills.view.activity.TopupBillsSearchNumberActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:theme="@style/Theme.White" />

    </application>

</manifest>
