<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.catalog">

    <application>
        <activity
            android:name="com.tokopedia.catalog.ui.activity.CatalogDetailPageActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/catalog_host"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_discovery"
                    android:pathPattern="@string/path_catalog"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.catalog.ui.activity.CatalogGalleryActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
