<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.tokopedia.tkpd.tkpdfeed">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".feedplus.view.activity.BlogWebViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".feedplus.view.activity.RecentViewActivity"
            android:label="@string/recent_view"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".feedplus.view.activity.TransparentVideoActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent.Black"/>

        <activity
            android:name=".feedplus.view.activity.KolProfileWebViewActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".feedplus.view.activity.KolCommentActivity"
            android:label="@string/title_comment_kol"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity
            android:name=".feedplus.view.activity.KolFollowingListActivity"
            android:label="@string/title_following_kol"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>


    </application>

</manifest>
