<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.purchase_platform">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".features.one_click_checkout.order.view.OrderSummaryPageActivity"
            android:label="@string/one_click_checkout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_marketplace"
                    android:path="@string/path_one_click_checkout"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.one_click_checkout.preference.edit.view.PreferenceEditActivity"
            android:label="@string/occ_preference"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_marketplace"
                    android:path="@string/path_preference_edit"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.one_click_checkout.preference.list.view.PreferenceListActivity"
            android:label="@string/occ_preference"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_marketplace"
                    android:path="@string/path_preference_list"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.purchase_platform.features.promo.presentation.PromoCheckoutActivity"
            android:label="@string/checkout_module_promo_activity_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_promo"
                    android:path="@string/path_promo_checkout_marketplace"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>
