<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.tokopedia.vouchergame.customerapp">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/voucher_game_app_name">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application android:hasCode="false" />
</manifest>