<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.events">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".view.activity.EventsHomeActivity"
            android:label="Events"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.EventDetailsActivity"
            android:label="Events"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.EventBookTicketActivity"
            android:label="@string/book_ticket_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ReviewTicketActivity"
            android:label="@string/event_review_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.EventSearchActivity"
            android:label="Events"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SeatSelectionActivity"
            android:label="@string/event_seat_selection_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.EventFavouriteActivity"
            android:label="Favorit Saya"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.EventFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ScanQRCodeActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>