<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.topads.common">

    <application
        android:allowBackup="true"
        android:label="@string/app_name">


        <activity
            android:name="com.tokopedia.topads.common.activity.SuccessActivity"
            android:label="Buat Iklan Otomatis"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.tokopedia.topads.common.activity.NoCreditActivity"
            android:label="Buat Iklan Otomatis"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify"
            android:windowSoftInputMode="adjustPan" />
    </application>


</manifest>

