<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.officialstore">

    <application>
        <activity
            android:name=".OfficialStoreActivity"
            android:label="@string/label_official_store"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_merchant"
                    android:path="@string/path_official_store"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
    </application>
</manifest>