<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.logisticorder">

    <application>

        <activity
            android:name="com.tokopedia.logisticorder.view.TrackingPageActivity"
            android:label="@string/label_tracking_activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
            <action android:name="com.tokopedia.internal.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data
                android:host="@string/host_logistic"
                android:pathPattern="@string/path_order_tracking"
                android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.logisticorder.view.shipping_confirmation.view.barcodescanner.ReceiptShipmentBarcodeScannerActivity"
            android:label="@string/title_receipt_shipement_barcode_scanner"
            android:theme="@style/Theme.White" />

        <activity
            android:name="com.tokopedia.logisticorder.view.shipping_confirmation.view.confirmshipment.ConfirmShippingActivity"
            android:label="@string/title_confirm_shipment_logistic_module"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_logistic"
                    android:pathPattern="@string/path_shipping_confirmation"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.logisticorder.view.livetracking.LiveTrackingActivity"
            android:label="@string/label_tracking_activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".view.imagepreview.ImagePreviewLogisticActivity"
            android:label="@string/label_image_preview"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"/>


    </application>

</manifest>
