<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.logisticorder">

    <application>
        <activity
            android:name="com.tokopedia.logisticorder.view.TrackingPageActivity"
            android:exported="false"
            android:label="@string/label_tracking_activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_logistic"
                    android:pathPattern="@string/path_order_tracking"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.logisticorder.view.tipping.TippingDriverActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_logistic"
                    android:pathPattern="@string/path_tipping_driver"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.pod.ui.ProofOfDeliveryActivity"
            android:exported="false"
            android:label="@string/label_pod"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_logistic"
                    android:pathPattern="@string/path_proof_of_delivery"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.logisticorder.view.livetracking.LiveTrackingActivity"
            android:exported="false"
            android:label="@string/label_tracking_activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>