<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.seller.menu" >

    <application>
        <activity
            android:name=".presentation.activity.SellerMenuActivity"
            android:exported="true"
            android:label="@string/title_seller_menu"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_seller_menu"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.activity.SellerSettingsActivity"
            android:label="@string/title_seller_settings"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_sellerapp"
                    android:path="@string/path_seller_settings"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.seller.menu.presentation.activity.AdminRoleAuthorizeActivity"
            android:label="@string/admin_authorize_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_sellerapp"
                    android:pathPattern="@string/path_admin_authorize"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
    </application>
</manifest>
