<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tokopedia.tkpd.tkpdreputation"
    >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity
            android:name=".inbox.view.activity.InboxReputationActivity"
            android:label="@string/title_activity_reputation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".inbox.view.activity.InboxReputationDetailActivity"
            android:label="@string/title_activity_reputation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
