<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.kyc_centralized">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".ui.tokoKyc.camera.UserIdentificationCameraActivity"
            android:configChanges="orientation"
            android:theme="@style/Theme.WhiteUnify"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tokoKyc.form.UserIdentificationFormActivity"
            android:label="@string/title_kyc_form_upload"
            android:theme="@style/Theme.WhiteUnify"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_user"
                    android:pathPattern="@string/path_user_identification_form" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.tokoKyc.info.UserIdentificationInfoActivity"
            android:label="@string/title_kyc_info"
            android:theme="@style/Theme.WhiteUnify"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_user"
                    android:pathPattern="@string/path_user_identification_info" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.tokoKyc.alacarte.UserIdentificationInfoSimpleActivity"
            android:label="@string/title_kyc_info_simple"
            android:theme="@style/Theme.WhiteUnify"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_user"
                    android:pathPattern="@string/path_user_identification_only" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.gotoKyc.transparent.GotoKycTransparentActivity"
            android:theme="@style/Theme.AppCompat.DayNight.Translucent"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_user"
                    android:pathPattern="@string/path_goto_kyc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.gotoKyc.main.router.GotoKycMainActivity"
            android:theme="@style/Theme.WhiteUnify"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity android:name=".ui.gotoKyc.webview.WebviewWithGotoKycActivity"
            android:theme="@style/Theme.WhiteUnify"
            android:screenOrientation="portrait"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_user"
                    android:pathPattern="@string/path_goto_kyc_webview" />
            </intent-filter>
        </activity>
    </application>
</manifest>