<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.interestpick">
   <application>
       <activity android:name=".view.activity.InterestPickActivity"
           android:screenOrientation="portrait"
           android:windowSoftInputMode="stateAlwaysHidden"
           android:label="@string/ip_title"
           android:theme="@style/Theme.White">
           <intent-filter>
               <action android:name="com.tokopedia.internal.VIEW" />

               <category android:name="android.intent.category.DEFAULT" />
               <category android:name="android.intent.category.BROWSABLE" />
               <data
                   android:scheme="@string/internal_scheme"
                   android:host="@string/applink_ip_host" />
           </intent-filter>
       </activity>
   </application>
</manifest>
