<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.minicart">

    <application>

        <activity
            android:name="com.tokopedia.minicart.ExampleActivity"
            android:label="Mini Cart Example"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify"/>
    </application>
</manifest>