<manifest xmlns:android="http://schemas.android.com/apk/res/android"

          package="com.tokopedia.feedplus">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".profilerecommendation.view.activity.FollowRecomActivity"
            android:screenOrientation="portrait"
            android:label="@string/recommendation_for_you"
            android:theme="@style/Theme.White"/>

        <activity
            android:name=".view.activity.FeedPlusDetailActivity"
            android:label="@string/title_detail_feed"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"/>

        <activity
            android:name=".view.activity.FeedOnboardingActivity"
            android:label="@string/title_feed_onboarding"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"/>

    </application>

</manifest>
