<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.tokopedianow">

    <application>
        <activity
            android:name="com.tokopedia.tokopedianow.home.presentation.activity.TokoNowHomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/TokoNowHeaderTheme">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopedia_now"
                    android:path="@string/path_tokopedia_now_home"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.tokopedianow.categorylist.presentation.activity.TokoNowCategoryListActivity"
            android:exported="true"
            android:label="@string/title_tokopedia_now"
            android:screenOrientation="portrait"
            android:theme="@style/CategoryListTheme">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopedia_now"
                    android:pathPattern="@string/path_tokopedia_now_category_list"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.tokopedianow.search.presentation.view.TokoNowSearchActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_tokopedia_now"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/TokoNowHeaderTheme">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_tokopedia_now"
                    android:path="@string/path_tokopedia_now_search"/>
            </intent-filter>

        </activity>

        <activity
            android:name="com.tokopedia.tokopedianow.category.presentation.view.TokoNowCategoryActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_tokopedia_now"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/TokoNowHeaderTheme">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_tokopedia_now"
                    android:pathPattern="@string/path_tokopedia_now_category"/>
            </intent-filter>

        </activity>
    </application>
</manifest>