<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.tokopedianow">

    <application>
        <activity
            android:name="com.tokopedia.tokopedianow.home.presentation.activity.TokoNowHomeActivity"
            android:exported="false"
            android:label="@string/title_tokopedia_now"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopedia_now"
                    android:path="@string/path_tokopedia_now_home"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.tokopedianow.categorylist.presentation.activity.TokoNowCategoryListActivity"
            android:exported="false"
            android:label="@string/title_tokopedia_now"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopedia_now"
                    android:pathPattern="@string/path_tokopedia_now_category_list"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.tokopedianow.sortfilter.presentation.activity.TokoNowSortFilterActivity"
            android:exported="false"
            android:label="@string/title_tokopedia_now"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopedia_now"
                    android:pathPattern="@string/path_tokopedia_now_sort_filter"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".datefilter.presentation.activity.TokoNowDateFilterActivity"
            android:exported="false"
            android:label="@string/title_tokopedia_now"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopedia_now"
                    android:pathPattern="@string/path_tokopedia_now_date_filter"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.tokopedianow.search.presentation.view.TokoNowSearchActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_tokopedia_now"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.WhiteUnify"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_tokopedia_now"
                    android:path="@string/path_tokopedia_now_search" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.tokopedianow.category.presentation.view.TokoNowCategoryActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_tokopedia_now"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.WhiteUnify"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_tokopedia_now"
                    android:pathPattern="@string/path_tokopedia_now_category" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.tokopedianow.repurchase.presentation.activity.TokoNowRepurchaseActivity"
            android:exported="false"
            android:label="@string/title_tokopedia_now"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopedia_now"
                    android:path="@string/path_tokopedia_now_repurchase_page"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.tokopedianow.categoryfilter.presentation.activity.TokoNowCategoryFilterActivity"
            android:exported="false"
            android:label="@string/title_tokopedia_now"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopedia_now"
                    android:pathPattern="@string/path_tokopedia_now_category_filter"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.tokopedianow.educationalinfo.presentation.activity.TokoNowEducationalInfoActivity"
            android:exported="false"
            android:label="@string/title_tokopedia_now"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopedia_now"
                    android:pathPattern="@string/path_tokopedia_now_educational_info"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.tokopedianow.recipedetail.presentation.activity.TokoNowRecipeDetailActivity"
            android:exported="false"
            android:label="@string/title_tokopedia_now"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopedia_now"
                    android:pathPattern="@string/path_tokopedia_now_recipe_detail"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".recipebookmark.persentation.activity.TokoNowRecipeBookmarkActivity"
            android:exported="false"
            android:label="@string/title_tokopedia_now"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopedia_now"
                    android:pathPattern="@string/path_tokopedia_now_recipe_bookmark"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.tokopedianow.common.activity.TokoNowMediaGalleryActivity"
            android:exported="false"
            android:label="@string/title_tokopedia_now"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name="com.tokopedia.tokopedianow.recipehome.presentation.activity.TokoNowRecipeHomeActivity"
            android:exported="false"
            android:label="@string/title_tokopedia_now"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopedia_now"
                    android:pathPattern="@string/path_tokopedia_now_recipe_home"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".recipesearch.presentation.activity.TokoNowRecipeSearchActivity"
            android:exported="false"
            android:label="@string/title_tokopedia_now"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopedia_now"
                    android:pathPattern="@string/path_tokopedia_now_recipe_search"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.tokopedianow.recipelist.presentation.activity.TokoNowRecipeFilterActivity"
            android:exported="false"
            android:label="@string/title_tokopedia_now"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopedia_now"
                    android:pathPattern="@string/path_tokopedia_now_recipe_filter"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".recipeautocomplete.presentation.activity.TokoNowRecipeAutoCompleteActivity"
            android:exported="false"
            android:label="@string/title_tokopedia_now"
            android:windowSoftInputMode="stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopedia_now"
                    android:pathPattern="@string/path_tokopedia_now_recipe_autocomplete"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.tokopedianow.recipesearch.presentation.activity.TokoNowRecipeSearchIngredientActivity"
            android:exported="false"
            android:label="@string/title_tokopedia_now"
            android:theme="@style/Theme.AppCompat.Translucent">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopedia_now"
                    android:pathPattern="@string/path_tokopedia_now_recipe_ingredient"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.tokopedianow.recipedetail.presentation.activity.TokoNowRecipeSimilarProductActivity"
            android:exported="false"
            android:label="@string/title_tokopedia_now"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_tokopedia_now"
                    android:pathPattern="@string/path_tokopedia_now_recipe_similar_product"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.tokopedianow.similarproduct.activity.TokoNowSimilarProductActivity"
            android:exported="false"
            android:label="@string/title_tokopedia_now"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"
            android:windowSoftInputMode="adjustResize"/>
    </application>
</manifest>