<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.linker" >
    <application>
        <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="@string/BRANCH_SDK_KEY" />
    </application>

</manifest>
