<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0.0"
    package="com.tokopedia.deals">

<application>

    <activity android:name=".home.ui.activity.DealsHomeActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.WhiteUnify"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="com.tokopedia.internal.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data
                android:scheme="@string/internal_scheme"
                android:host="@string/host_deals"
                android:path="/home-new"/>
        </intent-filter>
    </activity>

    <activity
        android:name="com.tokopedia.deals.search.ui.activity.DealsSearchActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.WhiteUnify">
        <intent-filter>
            <action android:name="com.tokopedia.internal.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data
                android:scheme="@string/internal_scheme"
                android:host="@string/host_deals"
                android:path="/search-new"/>
        </intent-filter>
    </activity>



    <activity android:name=".category.ui.activity.DealsCategoryActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.WhiteUnify"
        android:windowSoftInputMode="adjustPan">
        <intent-filter>
            <action android:name="com.tokopedia.internal.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data
                android:scheme="@string/internal_scheme"
                android:host="@string/host_deals"
                android:path="/category-new/page"/>
        </intent-filter>
    </activity>

    <activity android:name=".brand.ui.activity.DealsBrandActivity"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan"
        android:theme="@style/Theme.WhiteUnify">
        <intent-filter>
            <action android:name="com.tokopedia.internal.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data
                android:scheme="@string/internal_scheme"
                android:host="@string/host_deals"
                android:path="/brand-new/page"/>
        </intent-filter>
    </activity>
</application>

</manifest>
