<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.explore">

    <application>
        <activity
            android:name=".view.activity.HashtagLandingPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_content"
                    android:pathPattern="@string/path_hashtag_page_landing"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
    </application>
</manifest>
