<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.flight">

    <application android:label="@string/app_name">
        <activity
            android:name=".dashboard.view.activity.FlightDashboardActivity"
            android:label="@string/flight_dashboard_toolbar_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".dashboard.view.activity.FlightSelectPassengerActivity"
            android:label="@string/select_passenger_toolbar_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".airport.view.activity.FlightAirportPickerActivity"
            android:label="@string/search_flight"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".search.presentation.activity.FlightSearchFilterActivity"
            android:label="@string/filter"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".search.presentation.activity.FlightSearchActivity"
            android:label="@string/search_flight"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".searchV3.presentation.activity.FlightSearchActivity"
            android:label="@string/search_flight"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".search.presentation.activity.FlightSearchReturnActivity"
            android:label="@string/search_flight"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity android:name=".searchV3.presentation.activity.FlightSearchReturnActivity"
            android:label="@string/search_flight"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".dashboard.view.activity.FlightClassesActivity"
            android:label="@string/flight_classes_toolbar_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".dashboard.view.activity.FlightDatePickerActivity"
            android:label="@string/search_flight"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".detail.view.activity.FlightDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".booking.view.activity.FlightBookingActivity"
            android:label="@string/flight_booking_toolbar_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".booking.view.activity.FlightBookingAmenityActivity"
            android:label="@string/flight_booking_luggage_toolbar_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".booking.view.activity.FlightBookingPassengerActivity"
            android:label="@string/flight_booking_passenger_toolbar_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".booking.view.activity.FlightBookingPhoneCodeActivity"
            android:label="@string/activity_label_flight_booking_phone_code"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".booking.view.activity.FlightBookingNationalityActivity"
            android:label="@string/activity_label_flight_nationality"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".passenger.view.activity.FlightPassengerListActivity"
            android:label="@string/flight_booking_list_passenger_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".booking.view.activity.FlightBookingIssuingCountryActivity"
            android:label="@string/activity_label_flight_issuing_country"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".review.view.activity.FlightBookingReviewActivity"
            android:label="@string/activity_label_flight_review"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".orderlist.view.FlightOrderListActivity"
            android:label="@string/activity_label_flight_order_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".detail.view.activity.FlightDetailOrderActivity"
            android:label="@string/activity_label_flight_order_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".cancellation.view.activity.FlightCancellationActivity"
            android:label="@string/activity_label_flight_cancellation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".cancellation.view.activity.FlightCancellationReasonAndProofActivity"
            android:label="@string/activity_label_flight_cancellation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".cancellation.view.activity.FlightCancellationReviewActivity"
            android:label="@string/activity_label_flight_review_cancellation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".cancellation.view.activity.FlightCancellationRefundDetailActivity"
            android:label="@string/flight_cancellation_refund_detail_toolbar_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".passenger.view.activity.FlightPassengerUpdateActivity"
            android:label="@string/flight_passenger_update_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".cancellation.view.activity.FlightCancellationTermsAndConditionsActivity"
            android:label="@string/flight_cancellation_terms_and_condition_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".cancellation.view.activity.FlightCancellationListActivity"
            android:label="@string/flight_cancellation_list_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".cancellation.view.activity.FlightCancellationDetailActivity"
            android:label="@string/flight_cancellation_list_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".cancellation.view.activity.FlightCancellationChooseReasonActivity"
            android:label="@string/flight_cancellation_reason_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".booking.view.activity.FlightInsuranceWebviewActivity"
            android:label="@string/flight_insurance_webview_toolbar_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />
        <activity
            android:name=".detail.view.activity.FlightInvoiceActivity"
            android:label="@string/flight_order_invoice_toolbar_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Flight" />

    </application>

</manifest>