<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tokopedia.onboarding">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <application>

        <activity
            android:name=".NewOnboardingActivity"
            android:screenOrientation="portrait"/>

    </application>
</manifest>
