<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.challenges">

    <application>
        <activity
            android:name=".view.activity.ChallengesHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.PopupTransparent" />
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>