<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.entertainment">

    <application
        tools:replace="android:allowBackup"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".search.activity.EventSearchActivity"
            android:label="@string/ent_search_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_event"
                    android:path="@string/path_event_search"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".search.activity.EventCategoryActivity"
            android:label="@string/ent_search_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_event"
                    android:path="@string/path_event_category"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".search.activity.EventLocationActivity"
            android:label="@string/ent_search_event_location"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_event"
                    android:path="@string/path_event_location"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".pdp.activity.EventPDPTicketActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify"
            >
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_event"
                    android:pathPattern="@string/path_event_choose_package"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".pdp.activity.EventCheckoutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify"
            android:label="@string/ent_event_checkout_title_page"
            >
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_event"
                    android:pathPattern="@string/path_event_checkout"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".pdp.activity.EventPDPFormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify"
            >
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_event"
                    android:pathPattern="@string/path_event_form"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".pdp.activity.EventRedeemActivity"
            android:label="@string/ent_redeem_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_event"
                    android:path="@string/path_event_redeem"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity android:name=".navigation.EventNavigationActivity"
            android:label="@string/ent_home_page_event_hiburan"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">

            <nav-graph android:value="@navigation/event_navigation"/>
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_event"
                    android:pathPattern="@string/path_event_pdp"
                    android:scheme="@string/internal_scheme" />

                <data
                    android:host="@string/host_event"
                    android:path="@string/path_event_home"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>
