<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.phoneverification">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.tokopedia.phoneverification.view.activity.PhoneVerificationActivationActivity"
            android:label="@string/title_activity_phone_verification"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.tokopedia.phoneverification.view.activity.PhoneVerificationProfileActivity"
            android:label="@string/title_activity_phone_verification"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustResize">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_global"
                    android:pathPattern="@string/path_setting_profile_phone_verification"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.phoneverification.view.activity.ChangePhoneNumberActivity"
            android:label="@string/title_activity_change_phone_number"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.tokopedia.phoneverification.view.activity.ReferralPhoneNumberVerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.White" />
    </application>
</manifest>
