<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.webview">

    <application android:label="@string/app_name">
        <activity
            android:name=".BaseSimpleWebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity android:name="com.tokopedia.webview.download.BaseDownloadAppLinkActivity"
            android:label="@string/tokopedia"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"/>
    </application>

</manifest>
