<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tokopedia.home_recom">
    <application>

        <activity
            android:name=".HomeRecommendationActivity"
            android:label="@string/recom_home_recommendation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                        android:scheme="@string/internal_scheme"
                        android:host="@string/host_home"
                        android:pathPattern="@string/path_global_home_recommendation_domain"/>
                <data
                        android:scheme="@string/internal_scheme"
                        android:host="@string/host_home"
                        android:pathPattern="/rekomendasi"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
