<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.thankyou_native">

    <application>
        <activity
            android:name="com.tokopedia.thankyou_native.presentation.activity.ThankYouPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">


            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/host_payment"
                    android:path="@string/path_thank_you_page"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
    </application>
</manifest>
