<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.tokopedia.sharingexperience.view.PostPurchaseSharingActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.White">
        </activity>
    </application>
</manifest>