<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.ordermanagement.buyercancellationorder">

    <application>
        <activity
            android:name=".presentation.activity.BuyerRequestCancelActivity"
            android:label="@string/title_buyer_request_cancel"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_buyer"
                    android:path="@string/path_order_buyer_cancellation_request_page"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
    </application>
</manifest>