<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.seller">

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <activity
            android:name=".selling.orderReject.ConfirmRejectOrderActivity"
            android:label="@string/title_reject_confirm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".selling.view.activity.SellingDetailActivity"
            android:label="@string/title_activity_people_tx_details"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".selling.view.activity.ActivitySellingTransaction"
            android:label="@string/title_activity_shop_transaction_new"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderHistoryView"
            android:label="@string/title_activity_order_history_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShippingConfirmationDetail"
            android:label="@string/title_activity_shipping_confirmation_detail"
            android:screenOrientation="portrait" />

        <activity android:name="com.tokopedia.seller.instoped.InstopedActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".topads.view.activity.TopAdsDashboardActivity"
            android:label="@string/title_top_ads_dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.view.activity.TopAdsProductAdListActivity"
            android:label="@string/title_top_ads_product"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.view.activity.TopAdsGroupAdListActivity"
            android:label="@string/title_top_ads_promo_group"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.view.activity.TopAdsFilterGroupActivity"
            android:label="@string/title_top_ads_filter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.view.activity.TopAdsFilterProductActivity"
            android:label="@string/title_top_ads_filter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.view.activity.TopAdsAddCreditActivity"
            android:label="@string/title_top_ads_add_credit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.view.activity.TopAdsPaymentCreditActivity"
            android:label="@string/title_top_ads_add_credit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.view.activity.TopAdsNewPromoActivity"
            android:label="@string/title_top_ads_new_promo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.view.activity.TopAdsEditPromoActivity"
            android:label="@string/title_top_ads_new_promo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.view.activity.TopAdsAddProductActivity"
            android:label="@string/title_top_ads_product"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.view.activity.TopAdsDetailShopActivity"
            android:label="@string/title_shop_ad_detail"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".topads.view.activity.TopAdsDetailProductActivity"
            android:label="@string/title_product_ad_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.view.activity.TopAdsDetailGroupActivity"
            android:label="@string/title_group_ad_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lib.datepicker.DatePickerActivity"
            android:label="@string/title_top_ads_dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop.ShopEditorActivity"
            android:label="@string/shop_setting"
            android:theme="@style/ShopAppTheme" />

        <activity
            android:name=".myproduct.ManageProduct"
            android:label="@string/title_activity_manage_product"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".myproduct.ProductActivity"
            android:label="@string/title_activity_add_product"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tkpdevel.com"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".myproduct.ProductSocMedActivity"
            android:label="Add Product Social Media"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />

        <service
            android:name=".myproduct.service.ProductService"
            android:exported="false" />

        <activity
            android:screenOrientation="portrait"
            android:label="@string/title_activity_statistic"
            android:name=".topads.view.activity.TopAdsStatisticProductActivity" />
        <activity
            android:screenOrientation="portrait"
            android:label="@string/title_activity_statistic"
            android:name=".topads.view.activity.TopAdsStatisticShopActivity"/>

        <activity
            android:name=".topads.view.activity.TopAdsAddProductListActivity"
            android:label="@string/title_activity_top_ads_list"/>

        <service
            android:name="com.tokopedia.seller.selling.SellingService"
            android:exported="false"/>

        <service android:name=".shop.ShopEditService"
            android:exported="false"/>
    </application>

</manifest>