<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.seller">

    <application
        android:allowBackup="true"
        android:label="@string/app_name">
        <activity
            android:name=".selling.orderReject.ConfirmRejectOrderActivity"
            android:label="@string/title_reject_confirm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".selling.view.activity.SellingDetailActivity"
            android:label="@string/title_activity_people_tx_details"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".selling.view.activity.ActivitySellingTransaction"
            android:label="@string/title_activity_shop_transaction_new"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".OrderHistoryView"
            android:label="@string/title_activity_order_history_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShippingConfirmationDetail"
            android:label="@string/title_activity_shipping_confirmation_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".instoped.InstopedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsDashboardActivity"
            android:label="@string/top_ads_title_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsProductAdListActivity"
            android:label="@string/top_ads_title_product"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsGroupAdListActivity"
            android:label="@string/title_top_ads_promo_group"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsFilterGroupActivity"
            android:label="@string/title_top_ads_filter"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsFilterProductActivity"
            android:label="@string/title_top_ads_filter"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsFilterProductPromoActivity"
            android:label="@string/title_top_ads_filter"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsAddCreditActivity"
            android:label="@string/title_top_ads_add_credit"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsPaymentCreditActivity"
            android:label="@string/title_top_ads_add_credit"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsGroupNewPromoActivity"
            android:label="@string/title_top_ads_new_promo_product"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsGroupEditPromoActivity"
            android:label="@string/title_top_ads_edit_promo_product"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsGroupManagePromoActivity"
            android:label="@string/title_top_ads_manage_promo_product"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsDetailShopActivity"
            android:label="@string/title_shop_ad_detail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsDetailProductActivity"
            android:label="@string/title_product_ad_detail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsDetailGroupActivity"
            android:label="@string/title_group_ad_detail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsDetailNewShopActivity"
            android:label="@string/title_top_ads_new_promo_shop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsDetailNewProductActivity"
            android:label="@string/title_top_ads_add_promo_product"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsDetailNewGroupActivity"
            android:label="@string/title_top_ads_add_promo_product"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsDetailEditShopActivity"
            android:label="@string/title_edit_shop_ad"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsDetailEditProductActivity"
            android:label="@string/title_top_ads_edit_promo_product"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsDetailEditGroupActivity"
            android:label="@string/title_group_ad_edit"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsStatisticProductActivity"
            android:label="@string/title_activity_statistic"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsStatisticShopActivity"
            android:label="@string/title_activity_statistic"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsAddProductListActivity"
            android:label="@string/title_activity_top_ads_list"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".common.datepicker.view.activity.DatePickerActivity"
            android:label="@string/top_ads_title_dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.keyword.view.activity.TopAdsKeywordListActivity"
            android:label="@string/title_top_ads_keyword"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.keyword.view.activity.TopAdsKeywordFilterActivity"
            android:label="@string/title_top_ads_filter_keyword"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.keyword.view.activity.TopAdsKeywordAddActivity"
            android:label="@string/title_top_ads_keyword_add_detail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".topads.keyword.view.activity.TopAdsKeywordEditDetailPositiveActivity"
            android:label="@string/top_ads_keyword_title_keyword_edit_keyword"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.keyword.view.activity.TopAdsKeywordEditDetailNegativeActivity"
            android:label="@string/top_ads_keyword_title_keyword_edit_keyword"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.keyword.view.activity.TopAdsKeywordNewChooseGroupActivity"
            android:label="@string/top_ads_title_keyword_add_keyword"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.keyword.view.activity.TopAdsKeywordDetailActivity"
            android:exported="true"
            android:label="@string/top_ads_keyword_title_detail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".topads.keyword.view.activity.TopAdsKeywordDetailNegativeActivity"
            android:exported="true"
            android:label="@string/top_ads_keyword_title_detail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />
        <activity
            android:name=".shop.ShopEditorActivity"
            android:label="@string/shop_setting"
            android:theme="@style/ShopAppTheme" />
        <activity
            android:name=".myproduct.ManageProduct"
            android:label="@string/title_activity_manage_product"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".myproduct.ManageProductSeller"
            android:label="@string/title_activity_manage_product"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".product.view.activity.ProductAddActivity"
            android:label="@string/title_activity_add_product"
            android:screenOrientation="portrait"
            android:theme="@style/BasicThemeActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tkpdevel.com"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".product.view.activity.ProductEditActivity"
            android:label="@string/title_activity_edit_product"
            android:screenOrientation="portrait"
            android:theme="@style/BasicThemeActionBar" />

        <activity
            android:name=".product.draft.view.activity.ProductDraftListActivity"
            android:exported="true"
            android:label="@string/title_activity_draft_product"
            android:screenOrientation="portrait" />

        <activity
            android:name=".opportunity.activity.OpportunitySortActivity"
            android:label="@string/title_sort_but"
            android:screenOrientation="portrait" />

        <activity
            android:name=".opportunity.activity.OpportunityFilterActivity"
            android:label="@string/title_filter_but"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".opportunity.activity.OpportunityDetailActivity"
            android:label="@string/title_opportunity_detail"
            android:screenOrientation="portrait" />

        <activity
            android:name=".product.view.activity.ProductDraftAddActivity"
            android:label="@string/title_activity_add_product"
            android:screenOrientation="portrait"
            android:theme="@style/BasicThemeActionBar" />
        <activity
            android:name=".gmsubscribe.view.activity.GmSubscribeHomeActivity"
            android:label="@string/gm_home_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gmsubscribe.view.activity.GmProductActivity"
            android:label="@string/gmsubscribe_current_product_selector"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gmsubscribe.view.activity.GmCheckoutActivity"
            android:label="@string/gmsubscribe_checkout_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".product.view.activity.ProductDraftEditActivity"
            android:label="@string/title_activity_edit_product"
            android:screenOrientation="portrait"
            android:theme="@style/BasicThemeActionBar" />
        <activity
            android:name=".product.view.activity.ProductDuplicateActivity"
            android:label="@string/title_activity_add_product"
            android:screenOrientation="portrait"
            android:theme="@style/BasicThemeActionBar" />
        <activity
            android:name=".product.view.activity.ProductScoringDetailActivity"
            android:label="@string/product_title_activity_product_score"
            android:screenOrientation="portrait"
            android:theme="@style/BasicThemeActionBar" />
        <activity
            android:name=".product.view.activity.CategoryPickerActivity"
            android:label="@string/title_activity_category_picker"
            android:theme="@style/BasicThemeActionBar" />
        <activity
            android:name=".product.view.activity.EtalasePickerActivity"
            android:label="@string/product_title_activity_etalase_picker"
            android:theme="@style/BasicThemeActionBar" />
        <activity
            android:name=".product.view.activity.CatalogPickerActivity"
            android:exported="true"
            android:label="@string/title_activity_catalog_picker"
            android:theme="@style/BasicThemeActionBar" />
        <activity
            android:name=".product.view.activity.YoutubeAddVideoActivity"
            android:label="@string/product_label_video"
            android:theme="@style/BasicThemeActionBar" />

        <activity
            android:name="com.tokopedia.seller.goldmerchant.statistic.view.activity.GMStatisticDashboardActivity"
            android:label="@string/gm_statistic_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Tokopedia3" />

        <activity
            android:name=".goldmerchant.statistic.view.activity.GMStatisticTransactionActivity"
            android:exported="true"
            android:label="@string/gm_statistic_transaction_label" />
        <activity
            android:name=".goldmerchant.statistic.view.activity.GMStatisticTransactionTableActivity"
            android:exported="true"
            android:label="@string/list_sold_product_text" />
        <activity
            android:name=".goldmerchant.statistic.view.activity.GMStatisticDatePickerActivity"
            android:exported="true"
            android:label="@string/title_date_setting" />
        <activity
            android:name=".shopscore.view.activity.ShopScoreDetailActivity"
            android:label="@string/title_shop_score"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reputation.view.activity.SellerReputationDatePickerActivity"
            android:label="@string/set_date" />
        <activity
            android:name=".reputation.view.activity.SellerReputationActivity"
            android:label="@string/title_activity_reputation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".reputation.view.activity.SellerReputationInfoActivity"
            android:label="@string/reputation_point_calculation"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".shopsettings.ManageShopActivity"
            android:label="@string/title_activity_manage_shop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopsettings.payment.PaymentEditor"
            android:label="@string/title_activity_payment_editor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopsettings.address.activity.ManageShopAddress"
            android:label="@string/title_activity_manage_shop_address"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopsettings.address.activity.ShopAddressForm"
            android:label="@string/title_activity_shop_address_form"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopsettings.etalase.activity.EtalaseShopEditor"
            android:label="@string/title_activity_etalase_shop_editor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsCreatePromoNewGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsCreatePromoExistingGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsCreatePromoWithoutGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsCreatePromoShopActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsEditGroupMainPageActivity"
            android:label="@string/title_group_ad_edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsEditProductMainPageActivity"
            android:label="@string/title_group_ad_edit"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsEditShopMainPageActivity"
            android:label="@string/title_edit_shop_ad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsEditGroupNameActivity"
            android:label="@string/label_top_ads_group_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsEditCostExistingGroupActivity"
            android:label="@string/top_ads_label_cost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsEditScheduleExistingGroupActivity"
            android:label="@string/top_ads_label_schedule"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsEditCostProductActivity"
            android:label="@string/top_ads_label_cost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsEditScheduleProductActivity"
            android:label="@string/top_ads_label_schedule"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsEditCostShopActivity"
            android:label="@string/top_ads_label_cost"
            android:screenOrientation="portrait" />
        <activity
            android:name=".topads.dashboard.view.activity.TopAdsEditScheduleShopActivity"
            android:label="@string/top_ads_label_schedule"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shopsettings.shipping.EditShippingActivity"
            android:label="@string/shop_shipping_setting"
            android:screenOrientation="portrait">
            <intent-filter tools:ignore="GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="ANDROID.INTENT.CATEGORY.BROWSABLE" />

                <data
                    android:host="com.tokopedia.tkpd"
                    android:pathPrefix="/myshop-editor.pl"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shopsettings.shipping.OpenShopEditShipping"
            android:label="@string/title_open_shop" />

        <activity
            android:name=".shopsettings.notes.activity.ManageShopNotesActivity"
            android:label="@string/title_activity_manage_shop_notes"
            android:screenOrientation="portrait" />

        <service
            android:name=".selling.SellingService"
            android:exported="false" />
        <service
            android:name=".shop.ShopEditService"
            android:exported="false" />

        <service
            android:name="com.tokopedia.seller.product.view.service.UploadProductService"
            android:exported="false" />
    </application>

</manifest>