<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.hotel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <activity
            android:name=".homepage.presentation.activity.HotelHomepageActivity"
            android:label="@string/hotel_app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".destination.view.activity.HotelDestinationActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".search.presentation.activity.HotelSearchResultActivity"
            android:label="@string/hotel_app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".search.presentation.activity.HotelSearchFilterActivity"
            android:label="@string/label_filter"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".hoteldetail.presentation.activity.HotelDetailActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.NoActionBar" />

        <activity
            android:name=".hoteldetail.presentation.activity.HotelDetailAllFacilityActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".hoteldetail.presentation.activity.HotelDetailMapActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".roomlist.presentation.activity.HotelRoomListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".roomdetail.presentation.activity.HotelRoomDetailActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.NoActionBar" />

        <activity
            android:name=".hoteldetail.presentation.activity.HotelReviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity
            android:name=".evoucher.presentation.activity.HotelEVoucherActivity"
            android:label="@string/hotel_e_voucher"
            android:theme="@style/Theme.White"/>

       <activity android:name=".orderdetail.presentation.activity.HotelOrderDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

        <activity android:name=".booking.presentation.activity.HotelBookingActivity"
            android:label="Pembayaran"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"/>

    </application>

</manifest>