<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.hotel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <activity android:name=".homepage.presentation.activity.HotelHomepageActivity"
            android:label="@string/hotel_homepage_toolbar_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Hotel" />

        <activity android:name=".destination.view.activity.HotelDestinationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White.Hotel" />
    </application>

</manifest>