<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.mvcwidget">

    <application>
        <activity
            android:name=".views.activities.TransParentActivity"
            android:theme="@style/Theme.AppCompat.Translucent"></activity>
        <activity
            android:name=".multishopmvc.verticallist.MerchantCouponActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"></activity>
    </application>
</manifest>