<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.rechargeocr" >

    <application>

    <activity
        android:name=".RechargeCameraActivity"
        android:label=""
        android:screenOrientation="portrait"
        android:theme="@style/Theme.WhiteUnify">

        <intent-filter>
            <action android:name="com.tokopedia.internal.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data
                android:host="@string/host_recharge"
                android:path="@string/path_camera_ocr"
                android:scheme="@string/internal_scheme" />
        </intent-filter>
    </activity>

    </application>
</manifest>
