<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.tokopedia.merchant.subscribe.customerapp">

    <dist:module
        dist:onDemand="false"
        dist:title="@string/pm_title_activity">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application android:hasCode="false" />
</manifest>
