<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.developer_options">

    <application>
        <activity
            android:name=".presentation.activity.ReactNativeDeveloperOptionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme"
            android:label="@string/react_native_logger_title" />
        <activity
            android:name=".presentation.activity.DeveloperOptionActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait" >

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/tokopedia_scheme"
                    android:host="@string/host_devopt"
                    android:pathPattern="@string/path_change_env_url"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".remote_config.RemoteConfigFragmentActivity"
            android:label="@string/remote_config_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <receiver android:name=".notification.ReviewNotificationUpdateExample" />

    </application>

</manifest>
