<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.developer_options">

    <application>
        <activity
            android:name=".presentation.activity.DeveloperOptionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_setting"
                    android:pathPrefix="@string/path_dev_opt"
                    android:scheme="@string/tokopedia_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.feedbackpage.ui.feedbackpage.FeedbackPageActivity"
            android:label="@string/feedback_page_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/internal_feedback"
                    android:scheme="@string/tokopedia_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".remote_config.RemoteConfigFragmentActivity"
            android:label="@string/remote_config_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <service
            android:name=".presentation.service.DeleteFirebaseTokenService"
            android:exported="false" />

        <receiver android:name=".notification.ReviewNotificationUpdateExample" />

        <activity
            android:name=".presentation.feedbackpage.ui.tickercreated.TicketCreatedActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".drawonpicture.presentation.activity.DrawOnPictureActivity"
            android:hardwareAccelerated="true"
            android:label="@string/draw_on_picture_label"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />

    </application>

</manifest>