<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.topads.auto"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".view.activity.AutoAdsRouteActivity"
            android:label="" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/sellerapp_scheme"
                    android:host="@string/host_topads"
                    android:path="@string/path_topads_autoads"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.CreateAutoAdsActivity"
            android:theme="@style/Theme.White"
            android:label="@string/auto_ads_creation" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_topads"
                    android:path="@string/path_topads_autoads_create"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.AutoAdsActivatedActivity"
            android:label="@string/autoads_iklan_otomatis"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".view.activity.EmptyProductActivity"
            android:label="@string/autoads_iklan_otomatis"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".view.activity.EditBudgetAutoAdsActivity"
            android:label="@string/autoads_pengaturan_iklan"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_topads"
                    android:path="@string/path_topads_edit_autoads"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.AutoAdsOnboardingActivity"
            android:label="@string/auto_ads_creation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data
                android:scheme="@string/internal_scheme"
                android:host="@string/host_topads"
                android:path="@string/path_autoads_onboarding"/>
        </intent-filter></activity>
        <activity
            android:name=".view.activity.ConfirmationDialogActivity" />
    </application>

</manifest>