<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.creation.common">

    <application>
        <activity android:name=".upload.uploader.activity.ContentCreationPostUploadActivity"/>

        <receiver
            android:name=".upload.uploader.receiver.CreationUploadReceiver"
            android:enabled="true"/>
    </application>
</manifest>