<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.transaction">

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".orders.orderlist.view.activity.OrderListActivity"
            android:label="@string/title_order_list"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".orders.orderlist.view.activity.SellerOrderListActivity"
            android:label="@string/title_order_list"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Toolbar.White" />
        <activity
            android:name=".orders.orderdetails.view.activity.OrderListDetailActivity"
            android:label="@string/title_order_detail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name="com.tokopedia.seller.purchase.detail.activity.OrderDetailActivity"
            android:label="@string/title_activity_people_tx_details"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.tokopedia.seller.purchase.detail.activity.OrderHistoryActivity"
            android:label="@string/transaction_title_activity_order_history" />
        <activity
            android:name="com.tokopedia.seller.purchase.detail.activity.CustomScannerBarcodeActivity"
            android:label="@string/title_scan_awb" />
        <activity
            android:name="com.tokopedia.seller.purchase.detail.activity.BookingCodeActivity"
            android:label="@string/title_booking_code_detail"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".orders.orderlist.common.SaveDateBottomSheetActivity"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <activity
            android:name=".orders.orderdetails.view.activity.RequestCancelActivity"
            android:label="@string/title_activity_people_reason"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>