<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.minicart">

    <application>
        <activity
            android:name=".TestMiniCartActivity"
            android:theme="@style/Theme.WhiteUnify" />
    </application>
</manifest>