<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.oneclickcheckout">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".order.view.OrderSummaryPageActivity"
            android:label="@string/title_one_click_checkout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_marketplace"
                    android:path="@string/path_one_click_checkout"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".preference.edit.view.PreferenceEditActivity"
            android:label="@string/title_one_click_checkout_preference"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_marketplace"
                    android:path="@string/path_preference_edit"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name=".preference.list.view.PreferenceListActivity"
            android:label="@string/title_one_click_checkout_preference"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_marketplace"
                    android:path="@string/path_preference_list"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preference.edit.view.payment.creditcard.CreditCardPickerActivity"
            android:label="@string/title_one_click_checkout_credit_card_and_debit"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify" />
        <activity
            android:name=".preference.edit.view.payment.topup.OvoTopUpWebViewActivity"
            android:label="@string/title_one_click_checkout_top_up_ovo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify" />
    </application>

</manifest>