<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.tokopedia.seller.search.sellerapp">

    <dist:module
        dist:onDemand="false"
        dist:title="@string/title_global_search_seller">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:debuggable="true"
        android:hasCode="false" />
</manifest>
