<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.wishlist">

    <application>
        <activity
            android:name=".view.activity.WishlistV2Activity"
            android:exported="false"
            android:label="@string/page_name_wishlist"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_transaction"
                    android:path="/wishlist"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.wishlistcollection.view.activity.WishlistCollectionActivity"
            android:exported="false"
            android:label="@string/page_name_wishlist_collection"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_transaction"
                    android:path="/wishlist-collection"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.wishlistcollection.view.activity.WishlistCollectionDetailActivity"
            android:exported="false"
            android:label="@string/page_name_wishlist_collection_detail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_transaction"
                    android:pathPattern="@string/path_collection_detail"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.wishlistcollection.view.activity.WishlistCollectionHostBottomSheetActivity"
            android:exported="false"
            android:label="@string/page_name_wishlist_collection_host_bottomsheet"
            android:theme="@style/Theme.TransparentNoAnimation">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_transaction"
                    android:path="/wishlist-collection-bottomsheet"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.wishlistcollection.view.activity.WishlistCollectionEditActivity"
            android:exported="false"
            android:label="@string/page_name_wishlist_edit"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_transaction"
                    android:path="/wishlist-collection/edit"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.wishlistcollection.view.activity.WishlistCollectionCreateHostBottomSheetActivity"
            android:exported="false"
            android:label="@string/page_name_wishlist_collection_create_host_bottomsheet"
            android:theme="@style/Theme.TransparentNoAnimation">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_transaction"
                    android:path="/wishlist-collection-create-bottomsheet"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>