<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.product_service_widget">

    <application>
        <activity
            android:name="com.tokopedia.product_bundle.activity.ProductBundleActivity"
            android:label="@string/title_bundling_selection_page"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:theme="@style/Theme.White"
            android:exported="false">
            <!--<intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_merchant"
                    android:pathPattern="@string/path_product_bundle"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>-->
        </activity>

        <activity
            android:name="com.tokopedia.gifting.presentation.activity.GiftingBottomsheetActivity"
            android:label="@string/title_bundling_selection_page"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:theme="@style/Theme.AppCompat.DayNight.Translucent"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_merchant"
                    android:pathPattern="@string/path_product_bundle"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
    </application>
</manifest>