<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.search">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:supportsRtl="true">
        <activity
            android:name=".result.presentation.view.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_search_result"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/Theme.White">

            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_discovery"
                    android:path="@string/path_search_result"/>
            </intent-filter>

        </activity>
    </application>

</manifest>