<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.tokopedia.saldodeposit">

    <dist:module
        dist:onDemand="false"
        dist:title="@string/title_saldo_deposit">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application android:hasCode="false" />

</manifest>

