<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.cart.bundle"
    android:versionCode="1"
    android:versionName="1.0.0">

    <application
        android:label="Cart Test"
        tools:replace="android:label">
        <activity
            android:name="com.tokopedia.cart.old.OldCartActivity"
            android:label="@string/checkout_module_title_activity_cart"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WhiteUnify"/>
    </application>
</manifest>