<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.shop.open">

    <application>

        <activity
            android:name=".presentation.view.activity.ShopOpenRevampActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:theme="@style/Theme.White"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="@string/internal_scheme"
                    android:host="@string/host_marketplace"
                    android:path="@string/path_shop_open"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
