<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.shareexperience">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <!-- Branch init -->
        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="@string/branch_sdk_key_ma" />
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="@string/BRANCH_SDK_KEY_TEST" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.tokopedia.tkpd.provider"
            android:exported="false"
            android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/shareex_file_paths" />
    </provider>

    </application>

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.instagram.android" />
        <package android:name="jp.naver.line.android" />
        <package android:name="com.twitter.android" />
        <package android:name="org.telegram.messenger" />
    </queries>

</manifest>