<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.shareexperience">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".ui.ShareExLoadingActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar.ShareExLoading"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_communication"
                    android:pathPattern="@string/path_share_experience"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
    </application>

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.instagram.android" />
        <package android:name="jp.naver.line.android" />
        <package android:name="com.twitter.android" />
        <package android:name="org.telegram.messenger" />
    </queries>

</manifest>