<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.0.0">

    <application
        android:debuggable="true"
        android:label="Media Loader"
        tools:ignore="HardcodedDebugMode"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:debuggable,android:label">

        <activity
            android:name="com.tokopedia.media.loader.StubDebugMediaLoaderActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>
</manifest>
