<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.analytics">
    <application>
        <activity
            android:name=".debugger.ui.activity.AnalyticsDebuggerActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Green"
            android:taskAffinity="com.tokopedia.analytics.task"/>
        <activity
            android:name=".debugger.ui.activity.AnalyticsDebuggerDetailActivity"
            android:theme="@style/Theme.Green"/>
    </application>
</manifest>
