<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.analytics">
    <application>
        <activity
            android:name=".debugger.ui.activity.AnalyticsDebuggerActivity"
            android:label="Tracking Debugger"
            android:launchMode="singleTask"
            android:theme="@style/Toolbar.White"
            android:taskAffinity="com.tokopedia.analytics.task"/>
    </application>
</manifest>
