<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.paymentmanagementsystem">

    <application>
        <activity android:name=".paymentlist.view.activity.PaymentListActivity"></activity>
    </application>

</manifest>