<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.paymentmanagementsystem">

    <application>
        <activity
            android:label="@string/payment_title_payment_status"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:name=".paymentlist.view.activity.PaymentListActivity"/>
        <activity
            android:label="@string/payment_title_activity_change_clik_bca"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:name=".changeclickbca.view.ChangeClickBcaActivity"/>
    </application>

</manifest>