<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.abstraction">

    <application>
        <meta-data
            android:name="com.tokopedia.abstraction.common.utils.image.TkpdGlideModule"
            android:value="GlideModule" />
    </application>

</manifest>
