<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.shareexperience.test">

    <application>
        <activity android:name="com.tokopedia.shareexperience.stub.ShareExDummyActivity"
            android:exported="false"
            android:theme="@style/Theme.WhiteUnify"/>
    </application>
</manifest>