<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.posapp">

    <uses-sdk tools:overrideLibrary="com.tokopedia.core" />

    <application
        android:name=".PosApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="APPSFLYER_KEY"
            android:value="@string/key_appsflyer" />
        <meta-data
            android:name="LOCALYTICS_APP_KEY"
            android:value="@string/key_localytics" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="d02324f74e70ffcd2dc00ab722d32baecf1884b4" />

        <service
            android:name=".view.service.CacheService"
            android:exported="false" />

        <service
            android:name=".view.service.SchedulerService"
            android:exported="false" />

        <receiver
            android:name=".view.service.StartUpReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".PosAppSplashScreen"
            android:theme="@style/Theme.Tokopedia3.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".deeplink.DeeplinkHandlerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PosLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.OutletActivity"
            android:label="@string/outlet_page_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ProductDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.InstallmentSimulationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ScanCreditCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.CardDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ProductListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".view.activity.LocalCartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PaymentProcessingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TransactionHistoryActivity"
            android:label="@string/tx_history_page_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ReactInstallmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.OTPActivity"
            android:label="OTP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.InvoiceActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>