<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.createpost.createpost">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.tokopedia.createpost.view.activity.CreatePostLandingActivity"
            android:exported="true" />
        <activity
            android:name="com.tokopedia.createpost.view.activity.CreatePostActivity"
            android:label="@string/cp_title_create_post"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_content"
                    android:pathPattern="@string/applink_cp_path_create_post"
                    android:scheme="@string/internal_scheme" />
                <data
                    android:host="@string/host_content"
                    android:pathPattern="@string/applink_cp_path_draft_post"
                    android:scheme="@string/internal_scheme" />
                <data
                    android:host="@string/host_content"
                    android:pathPattern="@string/path_edit_post_shop"
                    android:scheme="@string/internal_scheme" />
                <data
                    android:host="@string/host_affiliate"
                    android:pathPattern="@string/applink_cp_path_draft_post"
                    android:scheme="@string/internal_scheme" />
                <data
                    android:host="@string/host_affiliate"
                    android:pathPattern="@string/applink_cp_path_create_post"
                    android:scheme="@string/internal_scheme" />
                <data
                    android:host="@string/host_content"
                    android:pathPattern="@string/path_edit_post_affiliate"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.createpost.view.activity.CreatePostMediaPreviewActivity"
            android:label="@string/cp_title_edit"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.tokopedia.createpost.uprofile.views.UserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:path="@string/up_path_user_profile_landing"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.createpost.uprofile.views.FollowerFollowingListingActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:path="@string/up_path_user_profile_follower"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.createpost.view.plist.ShopProductListActivity"
            android:label="@string/cp_title_edit"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_content"
                    android:pathPattern="@string/applink_cp_productpickerfromshop"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tokopedia.createpost.view.activity.CreatePostActivityNew"
            android:label="@string/cp_title_create_post"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_affiliate"
                    android:pathPattern="@string/applink_cp_path_create_post_v2"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tokopedia.createpost.uprofile.views.UserProfileActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            />

        <activity android:name="com.tokopedia.createpost.uprofile.views.FollowerFollowingListingActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            />

    </application>
</manifest>