<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.oneclickcheckout"
    android:versionCode="1"
    android:versionName="1.0.0">

    <application
        android:label="OCC Test"
        tools:replace="android:label">
        <activity
            android:name=".order.view.TestOrderSummaryPageActivity"
            android:label="@string/title_one_click_checkout"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".preference.edit.view.TestPreferenceEditActivity"
            android:label="@string/title_one_click_checkout_preference"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
    </application>
</manifest>