<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tokopedia.tkpd.tkpdreputation"
    >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >
        <activity
            android:name=".inbox.view.activity.InboxReputationActivity"
            android:label="@string/title_activity_reputation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".inbox.view.activity.InboxReputationDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".inbox.view.activity.InboxReputationFormActivity"
            android:label="@string/title_activity_submit_review"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".inbox.view.activity.InboxReputationFilterActivity"
            android:label="@string/title_filter"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".inbox.view.activity.ImageUploadPreviewActivity"
            android:label="@string/title_activity_image_upload"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".inbox.view.activity.InboxReputationReportActivity"
            android:label="@string/title_report"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".shopreputation.ReputationViewShop"
            android:label="@string/title_activity_reputation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".reputationproduct.view.activity.ReputationProduct"
            android:label="@string/title_activity_reputation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".reputationproduct.view.activity.ReputationProductActivity"
            android:label="@string/title_activity_reputation"
            android:screenOrientation="portrait"/>
        <activity
            android:label="@string/title_activity_reputation"
            android:name=".review.product.view.ReviewProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            />
        <activity
            android:label="@string/title_activity_reputation"
            android:name=".review.shop.view.ReviewShopInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"
            />
    </application>

</manifest>
