<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.ovo">

    <application>
        <activity
            android:name=".view.PaymentQRSummaryActivity"
            android:label="@string/oqr_payment_summary"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:path="@string/path_ovo_pay_with_qr"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.QrOvoPayTxDetailActivity"
            android:label="@string/oqr_payment_summary"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White">
            <intent-filter>
                <action android:name="com.tokopedia.internal.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host_global"
                    android:pathPattern="@string/path_oqr_pin_url_response"
                    android:scheme="@string/internal_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".view.OvoWebViewActivity"
            android:label="@string/oqr_payment_summary"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"/>
    </application>

</manifest>