<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokopedia.ovo">

    <application>
        <activity
            android:name=".view.PaymentQRSummaryActivity"
            android:label="@string/oqr_payment_summary"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity
            android:name=".view.QrOvoPayTxDetailActivity"
            android:label="@string/oqr_payment_summary"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White" />
        <activity android:name=".view.OvoWebViewActivity"
            android:label="@string/oqr_payment_summary"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.White"/>
    </application>

</manifest>