<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.tokopedia.sellerorder.customerapp">

    <dist:module
        dist:onDemand="false"
        dist:title="@string/title_seller_order">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application android:hasCode="false" />

</manifest>
