<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tokopedia.imagepreviewslider">

    <uses-sdk tools:overrideLibrary="com.stfalcon.imageviewer" />
    <application>
        <activity
            android:name=".presentation.activity.ImagePreviewSliderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>
</manifest>